# REVISÓN TABLA product_description.csv

## Importar librerías necesarias.

In [14]:
import pandas as pd
import numpy as np

## Obtención del dataframe.

In [15]:
file = 'product_description.csv'
path = '/Users/orlando/Documents/EasyMoney_back/tablas/'
df_prod_desc = pd.read_csv(path+file)

In [16]:
df_prod_desc.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13 entries, 0 to 12
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unnamed: 0      13 non-null     int64
 1   pk_product_ID   13 non-null     int64
 2   product_desc    13 non-null     object
 3   family_product  13 non-null     object
dtypes: int64(2), object(2)
memory usage: 548.0+ bytes

In [17]:
df_prod_desc.head()

   Unnamed: 0  pk_product_ID     product_desc family_product
0           0           4657        em_acount        account
1           1           3819       debit_card   payment_card
2           2           1364     pension_plan   pension_plan
3           3           2234          payroll        account
4           4           2235  payroll_account        account

## Eliminamos la columna 'Unnamed: 0' por ser parecida al index.

In [18]:
df_prod_desc.drop(columns=['Unnamed: 0'], inplace=True, errors='ignore')

In [19]:
df_prod_desc

    pk_product_ID        product_desc family_product
0            4657           em_acount        account
1            3819          debit_card   payment_card
2            1364        pension_plan   pension_plan
3            2234             payroll        account
4            2235     payroll_account        account
5            8871         emc_account        account
6            2312         credit_card   payment_card
7            2335  short_term_deposit     investment
8            2336   long_term_deposit     investment
9            2673          securities     investment
10           1119               funds     investment
11           9001               loans           loan
12           4033            mortgage           loan

## Comprobamos registros completos duplicados en el dataframe.

In [20]:
# No hay registros duplicados.
df_prod_desc[df_prod_desc.duplicated(keep=False)]

Empty DataFrame
Columns: [pk_product_ID, product_desc, family_product]
Index: []

## Comprobamos registros nulos.

In [21]:
# No hay nulos.
df_prod_desc.isna().sum()/len(df_prod_desc) * 100

pk_product_ID     0.0
product_desc      0.0
family_product    0.0
dtype: float64

## Guardamos dataframe limpio.

In [22]:
df_prod_desc_clean = df_prod_desc.copy()

In [23]:
df_prod_desc_clean

    pk_product_ID        product_desc family_product
0            4657           em_acount        account
1            3819          debit_card   payment_card
2            1364        pension_plan   pension_plan
3            2234             payroll        account
4            2235     payroll_account        account
5            8871         emc_account        account
6            2312         credit_card   payment_card
7            2335  short_term_deposit     investment
8            2336   long_term_deposit     investment
9            2673          securities     investment
10           1119               funds     investment
11           9001               loans           loan
12           4033            mortgage           loan

## Exportamos a un nuevo archivo .csv

In [24]:
df_prod_desc_clean.to_csv('/Users/orlando/Documents/EasyMoney_back/tablas/clean/prod_desc_clean.csv', index=False)