# Easy Money - Modelo de propensión a compra

Mensaje de Carol: Una vez que hayamos hecho el análisis de nuestra BBDD nos gustaría poder vender más y mejor nuestros productos, sé que los data scientist tienen una “bola de cristal” y saben qué clientes son más propensos a comprar nuestros productos así que te pido por favor hagas un modelo de propensión a compra, se que tenemos muchos productos, así que te dejo a tu criterio científico qué productos elegir, o pueden ser varios, ya me sorprenderás

Vamos a desarrollar un modelo capaz de **predecir si un cliente es propenso a contratar un producto de Easy Money, teniendo en cuenta sus características**.

## Importación de librerías

In [1]:
# Importamos las librerias necesarias.
import os
import pandas as pd
import numpy as np


from sklearn import preprocessing
from sklearn.preprocessing import LabelEncoder,MinMaxScaler, OrdinalEncoder
from sklearn import model_selection 
from sklearn import metrics
from sklearn.model_selection import train_test_split

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns

## Importación de datos

De las tablas que tenemos disponibles en BBDD, las que serán de utilidad para este modelo son customer_sociodemographics, customer_commercial_activity y sales. 
<p>Guardamos los datos de las tablas en dataframes distintos que limpiaremos, y posteriormente uniremos en un único dataframe

In [2]:
# Obtener el directorio de trabajo actual
current_dir = os.getcwd()

# Ir a la carpeta anterior del directorio actual porque ahí se encuentra la carpeta 'data' donde están todos los ficheros .csv
parent_dir = os.path.dirname(current_dir)

DATA_PATH = os.path.join(parent_dir, 'data/') # Ruta donde están los ficheros .csv

FILE_NAME1 = 'customer_sociodemographics.csv'
FILE1 = os.path.join(DATA_PATH, FILE_NAME1)

FILE_NAME2 = 'customer_commercial_activity.csv'
FILE2 = os.path.join(DATA_PATH, FILE_NAME2)

FILE_NAME3 = 'sales.csv'
FILE3 = os.path.join(DATA_PATH, FILE_NAME3)

print('current path:', current_dir)
print('parent path:', parent_dir)
print('data path:', DATA_PATH)
print('file 1:', FILE1)
print('file 2:', FILE2)
print('file 3:', FILE3)
print('data path:', DATA_PATH)

current path: c:\Users\Usuario\OneDrive\Desktop\DataScience\TFM_\TFM-EasyMoney\Dataframe_modelo
parent path: c:\Users\Usuario\OneDrive\Desktop\DataScience\TFM_\TFM-EasyMoney
data path: c:\Users\Usuario\OneDrive\Desktop\DataScience\TFM_\TFM-EasyMoney\data/
file 1: c:\Users\Usuario\OneDrive\Desktop\DataScience\TFM_\TFM-EasyMoney\data/customer_sociodemographics.csv
file 2: c:\Users\Usuario\OneDrive\Desktop\DataScience\TFM_\TFM-EasyMoney\data/customer_commercial_activity.csv
file 3: c:\Users\Usuario\OneDrive\Desktop\DataScience\TFM_\TFM-EasyMoney\data/sales.csv
data path: c:\Users\Usuario\OneDrive\Desktop\DataScience\TFM_\TFM-EasyMoney\data/

In [3]:
df_cs = pd.read_csv(FILE1, index_col=0)
df_cca = pd.read_csv(FILE2, index_col=0)
df_sales = pd.read_csv(FILE3, index_col=0)

## 1: Data Understanding

### 1.1: Análisis Univariante de datos de las distintos datasets que vamos a usar

#### 1.1.1 Analizamos la tabla customer_sociodemographics

In [4]:
# Datos generales 

df_cs.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5962924 entries, 0 to 13647308
Data columns (total 8 columns):
 #   Column        Dtype
---  ------        -----
 0   pk_cid        int64
 1   pk_partition  object
 2   country_id    object
 3   region_code   float64
 4   gender        object
 5   age           int64
 6   deceased      object
 7   salary        float64
dtypes: float64(2), int64(2), object(4)
memory usage: 409.4+ MB

In [5]:
# Visualización de los datos
df_cs.head()

,pk_cid,pk_partition,country_id,region_code,gender,age,deceased,salary
0,1375586,2018-01,ES,29.0,H,35,N,87218.10
1,1050611,2018-01,ES,13.0,V,23,N,35548.74
2,1050612,2018-01,ES,13.0,V,23,N,122179.11
3,1050613,2018-01,ES,50.0,H,22,N,119775.54
4,1050614,2018-01,ES,50.0,V,23,N,NaN

In [6]:
# Recuento de nulos 

df_cs.isna().sum()

pk_cid                0
pk_partition          0
country_id            0
region_code        2264
gender               25
age                   0
deceased              0
salary          1541104
dtype: int64

De entrada, analizamos la columna "deceased" para eliminar los clientes fallecidos y quedarnos con aquellos que actualmente son reales

In [7]:
df_cs['deceased'].value_counts()

deceased
N    5961849
S       1075
Name: count, dtype: int64

In [8]:
df_cs = df_cs[(df_cs['deceased']  == 'N')]
df_cs['deceased'].value_counts()

deceased
N    5961849
Name: count, dtype: int64

Ahora que nos hemos quedado solamente con los clientes no fallecidos, esta columna no es de mucha utilidad ya que siempre tiene el mismo valor. La podemos eliminar.

In [9]:
del(df_cs['deceased'])

Analizamos también la columna country_id para ver si vale la pena quedarnos con todos los países de la BBDD

In [10]:
df_cs['country_id'].value_counts()

country_id
ES    5959602
GB        441
FR        225
DE        199
US        195
CH        189
BR         87
BE         81
VE         79
IE         68
MX         58
AT         51
AR         51
PL         49
IT         45
MA         34
CL         30
CN         28
CA         22
GA         17
DO         17
CO         17
RU         17
NO         17
GT         17
SN         17
MR         17
ET         17
CM         17
SA         17
CI         17
QA         17
LU         17
SE         16
DJ         11
PT         11
JM         11
RO          9
HU          8
DZ          7
PE          4
Name: count, dtype: int64

Vemos que los valores de los países distintos a ES son muy pequeños y no aportarán demasiado valor a nuestro modelo. Nos quedamos solamente con los registros que son country_id = ES

In [11]:
df_cs = df_cs[(df_cs['country_id']  == 'ES')]
df_cs['country_id'].value_counts()

country_id
ES    5959602
Name: count, dtype: int64

Ahora que nos hemos quedado solamente con los clientes de ES, esta columna no es de mucha utilidad ya que siempre tiene el mismo valor. La podemos eliminar.

In [12]:
del(df_cs['country_id'])

Según el diccionario de las tablas, region_code es el código de provincia. Este dato sí puede ser relevante, pero vemos que tiene nulos. Como estamos ante un modelo de clasificación binaria, podemos rellenar los nulos con un valor como -1, para que se sean agrupados en un bloque propio.

In [13]:
df_cs['region_code'].fillna(-1, inplace=True)

C:\Users\Usuario\AppData\Local\Temp\ipykernel_17324\1372854579.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_cs['region_code'].fillna(-1, inplace=True)

La columna gender también tenía nulos, pero son muy pocos en relación al total del dataset. Analizamos cuántos nulos quedan después de los cambios ya realizados y elimnamos estas filas por ser muy pocas

In [14]:
df_cs['gender'].isna().sum()

np.int64(25)

In [15]:
df_cs = df_cs.dropna(subset =['gender'])

Analizamos la columna salary

In [16]:
df_cs['salary'].value_counts()

salary
451931.22    709
288997.44    546
135522.15    466
128318.52    458
104563.80    436
            ...
195859.59      1
210493.68      1
128959.86      1
90295.38       1
157753.62      1
Name: count, Length: 257626, dtype: int64

In [17]:
df_cs['salary'].describe()

count    4.420911e+06
mean     1.155810e+05
std      2.000189e+05
min      1.202730e+03
25%      6.141354e+04
50%      8.843742e+04
75%      1.313081e+05
max      2.889440e+07
Name: salary, dtype: float64

Vemos que todos los valores son positivos, que la diferencia entre el salario mayor y el salario menor es muy grande, y que la media por tanto es muy elevada también. Igualmente, según el diccionario de la BBDD, se trata del salario de la unidad familiar y consideramos que este valor es importante a la hora de determinar la contratación. Al haber muchos nulos, y al ser el modelo de clasificación binaria, vamos a asignar a los nulos el valor -1

In [18]:
df_cs['salary'].fillna(-1, inplace=True)

C:\Users\Usuario\AppData\Local\Temp\ipykernel_17324\3059662271.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_cs['salary'].fillna(-1, inplace=True)

Transformamos la columna region_code de float a int

In [19]:
df_cs["region_code"] = df_cs["region_code"].astype(int)

Transformamos la columna pk_partition a fecha

In [20]:
df_cs["pk_partition"] = pd.to_datetime(df_cs["pk_partition"])

Finalmente, la tabla de customer_sociodemographics quedará así:

In [21]:
df_cs.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5959577 entries, 0 to 13647308
Data columns (total 6 columns):
 #   Column        Dtype
---  ------        -----
 0   pk_cid        int64
 1   pk_partition  datetime64[ns]
 2   region_code   int64
 3   gender        object
 4   age           int64
 5   salary        float64
dtypes: datetime64[ns](1), float64(1), int64(3), object(1)
memory usage: 318.3+ MB

#### 1.1.2 Analizamos la tabla customer_commercial_activity

In [22]:
# Datos generales 

df_cca.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5962924 entries, 0 to 13647308
Data columns (total 6 columns):
 #   Column           Dtype
---  ------           -----
 0   pk_cid           int64
 1   pk_partition     object
 2   entry_date       object
 3   entry_channel    object
 4   active_customer  float64
 5   segment          object
dtypes: float64(1), int64(1), object(4)
memory usage: 318.5+ MB

In [23]:
# Visualización de los datos
df_cca.head()

,pk_cid,pk_partition,entry_date,entry_channel,active_customer,segment
0,1375586,2018-01,2018-01,KHL,1.0,02 - PARTICULARES
1,1050611,2018-01,2015-08,KHE,0.0,03 - UNIVERSITARIO
2,1050612,2018-01,2015-08,KHE,0.0,03 - UNIVERSITARIO
3,1050613,2018-01,2015-08,KHD,0.0,03 - UNIVERSITARIO
4,1050614,2018-01,2015-08,KHE,1.0,03 - UNIVERSITARIO

In [24]:
# Recuento de nulos 

df_cca.isna().sum()

pk_cid                  0
pk_partition            0
entry_date              0
entry_channel      133033
active_customer         0
segment            133944
dtype: int64

In [25]:
pd.set_option('display.max_rows', 100)

In [26]:
df_cca['entry_channel'].value_counts(normalize = True)*100

entry_channel
KHE    53.413469
KFC    15.276786
KHQ    10.125061
KAT     7.137080
KHK     3.948564
KHM     3.029062
KHN     1.859966
KFA     1.355428
KHD     1.301894
RED     1.039488
KHL     0.715897
KHF     0.354329
KHO     0.141461
KAZ     0.096657
KHC     0.089899
KBG     0.028508
KEH     0.012487
KHP     0.011853
007     0.010515
013     0.006810
KAG     0.005746
KAS     0.005232
KBZ     0.003396
KAA     0.003311
KAR     0.002693
KAY     0.002556
KAF     0.002110
KAB     0.001630
KFD     0.001561
KCC     0.001527
KAW     0.001115
KAQ     0.000892
KDH     0.000875
KAE     0.000823
KCH     0.000823
KCB     0.000806
KAD     0.000772
KAM     0.000738
KAH     0.000686
KAK     0.000583
KAJ     0.000566
KDT     0.000395
KFF     0.000377
KBO     0.000360
KEY     0.000343
KBE     0.000292
KCL     0.000292
KFK     0.000292
KGC     0.000292
KGN     0.000292
KGX     0.000292
004     0.000292
KFS     0.000292
KBH     0.000292
KCI     0.000292
KDR     0.000274
KFL     0.000223
KBW     0.000206
KBY     0.000189
KBU     0.000189
KES     0.000189
KAI     0.000189
KCK     0.000189
KEJ     0.000137
KHS     0.000086
KDA     0.000034
KFP     0.000034
KDS     0.000017
Name: proportion, dtype: float64

Vemos muchos valores de Entry Channel que son muy pocos en comparación con los valores mayoritarios. Elegimos los canales de entrada que tengan una proporción mayor al 1% y agrupamos el resto en Others

In [27]:
value_counts = (df_cca['entry_channel'].value_counts(normalize = True, dropna=True)*100)
df_cca['entry_channel'] = df_cca['entry_channel'].apply(lambda x: x if pd.isna(x) or value_counts.get(x, 0) >= 1 else 'Others')

In [28]:
df_cca['entry_channel'].value_counts(normalize = True)*100

entry_channel
KHE       53.413469
KFC       15.276786
KHQ       10.125061
KAT        7.137080
KHK        3.948564
KHM        3.029062
KHN        1.859966
Others     1.513202
KFA        1.355428
KHD        1.301894
RED        1.039488
Name: proportion, dtype: float64

Analizamos la columna segment para ver los valores únicos, sabiendo que también tiene nulos

In [29]:
df_cca['segment'].value_counts()

segment
03 - UNIVERSITARIO    3900166
02 - PARTICULARES     1830875
01 - TOP                97939
Name: count, dtype: int64

Rellenamos NaN de channel y segment con un valor identificativo como 'Not defined'

In [30]:
df_cca["entry_channel"].fillna('Not defined', inplace=True)
df_cca["segment"].fillna('Not defined', inplace=True)

C:\Users\Usuario\AppData\Local\Temp\ipykernel_17324\2969524961.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_cca["entry_channel"].fillna('Not defined', inplace=True)
C:\Users\Usuario\AppData\Local\Temp\ipykernel_17324\2969524961.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_cca["segment"].fillna('Not defined', inplace=True)

In [31]:
df_cca.isna().sum()

pk_cid             0
pk_partition       0
entry_date         0
entry_channel      0
active_customer    0
segment            0
dtype: int64

In [32]:
df_cca['active_customer'].value_counts()

active_customer
0.0    3557573
1.0    2405351
Name: count, dtype: int64

Transformarmos active_customer de float a int

In [33]:
df_cca["active_customer"] = df_cca["active_customer"].astype(int)

Transformamos las columna pk_partition y entry_date a fecha

In [34]:
df_cca["pk_partition"] = pd.to_datetime(df_cca["pk_partition"])
df_cca["entry_date"] = pd.to_datetime(df_cca["entry_date"])

Eliminamos la columna de entry_date ya que la fecha que nos interesa realmente es la fecha de venta dela tabla sales

In [35]:
del(df_cca['entry_date'])

Finalmente, la tabla de customer_commercial_activity quedará así:

In [36]:
df_cca.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5962924 entries, 0 to 13647308
Data columns (total 5 columns):
 #   Column           Dtype
---  ------           -----
 0   pk_cid           int64
 1   pk_partition     datetime64[ns]
 2   entry_channel    object
 3   active_customer  int64
 4   segment          object
dtypes: datetime64[ns](1), int64(2), object(2)
memory usage: 273.0+ MB

#### 1.1.3 Analizamos la tabla sales

In [37]:
# Datos generales 

df_sales.info()

<class 'pandas.core.frame.DataFrame'>
Index: 240773 entries, 0 to 240772
Data columns (total 5 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   pk_sale     240773 non-null  int64
 1   cid         240773 non-null  int64
 2   month_sale  240773 non-null  object
 3   product_ID  240773 non-null  int64
 4   net_margin  240773 non-null  float64
dtypes: float64(1), int64(3), object(1)
memory usage: 11.0+ MB

In [38]:
# Visualización de los datos
df_sales.head()

   pk_sale    cid  month_sale  product_ID  net_margin
0     6666  33620  2018-05-01        2335       952.9
1     6667  35063  2018-06-01        2335      1625.2
2     6668  37299  2018-02-01        2335      1279.7
3     6669  39997  2018-02-01        2335      1511.9
4     6670  44012  2018-02-01        2335      1680.3

In [39]:
# Recuento de nulos 

df_sales.isna().sum()

pk_sale       0
cid           0
month_sale    0
product_ID    0
net_margin    0
dtype: int64

La columna pk_sale es el identificador de la venta. Esta columna no va a ser necesaria para el modelo, por lo que la eliminamos.

In [40]:
del(df_sales['pk_sale'])

La clolumna net_margin nos puede ser útil para decidir qué producto elegir para la predicción de nuestro modelo, por lo que de momento la dejamos.

Transformamos la columna month_sale a fecha

In [41]:
df_sales["month_sale"] = pd.to_datetime(df_sales["month_sale"])

Finalmente, la tabla de sales quedará así:

In [42]:
df_sales.info()

<class 'pandas.core.frame.DataFrame'>
Index: 240773 entries, 0 to 240772
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   cid         240773 non-null  int64
 1   month_sale  240773 non-null  datetime64[ns]
 2   product_ID  240773 non-null  int64
 3   net_margin  240773 non-null  float64
dtypes: datetime64[ns](1), float64(1), int64(2)
memory usage: 9.2 MB

## 2: Construcción del dataset para el modelo

Vamos a hacer un inner merge de todos los datasets, ya que nos interesa agrupar toda la información analizada en un único dataframe, que contenga toda la información por el id de cliente.

In [43]:
df_merged = pd.merge(
    left = df_cca, 
    right = df_cs,
    on = ('pk_cid', 'pk_partition'),
    how = 'inner')

In [44]:
df_merged.head()

,pk_cid,pk_partition,entry_channel,active_customer,segment,region_code,gender,age,salary
0,1375586,2018-01-01,Others,1,02 - PARTICULARES,29,H,35,87218.10
1,1050611,2018-01-01,KHE,0,03 - UNIVERSITARIO,13,V,23,35548.74
2,1050612,2018-01-01,KHE,0,03 - UNIVERSITARIO,13,V,23,122179.11
3,1050613,2018-01-01,KHD,0,03 - UNIVERSITARIO,50,H,22,119775.54
4,1050614,2018-01-01,KHE,1,03 - UNIVERSITARIO,50,V,23,-1.00

In [45]:
pd.set_option('display.max_rows', 1000)

In [46]:

print(DATA_PATH)

df_con_reg = pd.read_csv(os.path.join(DATA_PATH, 'reg_pension_plan.csv'), sep = ';', low_memory=False, index_col=0)

c:\Users\Usuario\OneDrive\Desktop\DataScience\TFM_\TFM-EasyMoney\data/

In [47]:
df_con_reg.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1048575 entries, 15891 to 1079479
Data columns (total 2 columns):
 #   Column            Non-Null Count    Dtype
---  ------            --------------    -----
 0   pk_partition      1048575 non-null  object
 1   reg_pension_plan  1048575 non-null  int64
dtypes: int64(1), object(1)
memory usage: 24.0+ MB

In [48]:
df_con_reg.head()

       pk_partition  reg_pension_plan
pk_cid
15891    01/07/2018                 0
15891    01/08/2018                 0
16063    01/11/2018                 0
16063    01/12/2018                 0
16063    01/01/2019                 0

In [49]:
df_con_reg['pk_partition'] = pd.to_datetime(df_con_reg['pk_partition'], format = '%d/%m/%Y' )

In [50]:
df_con_reg.head()

       pk_partition  reg_pension_plan
pk_cid
15891    2018-07-01                 0
15891    2018-08-01                 0
16063    2018-11-01                 0
16063    2018-12-01                 0
16063    2019-01-01                 0

In [51]:
df_con_reg.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1048575 entries, 15891 to 1079479
Data columns (total 2 columns):
 #   Column            Non-Null Count    Dtype
---  ------            --------------    -----
 0   pk_partition      1048575 non-null  datetime64[ns]
 1   reg_pension_plan  1048575 non-null  int64
dtypes: datetime64[ns](1), int64(1)
memory usage: 24.0 MB

In [52]:
df_con_reg_merged = pd.merge(
    left = df_merged, 
    right = df_con_reg,
    on = ('pk_cid', 'pk_partition'),
    how = 'inner')

In [53]:
df_con_reg_merged.head(50)

,pk_cid,pk_partition,entry_channel,active_customer,segment,region_code,gender,age,salary,reg_pension_plan
0,1050611,2018-01-01,KHE,0,03 - UNIVERSITARIO,13,V,23,35548.74,0
1,1050612,2018-01-01,KHE,0,03 - UNIVERSITARIO,13,V,23,122179.11,0
2,1050613,2018-01-01,KHD,0,03 - UNIVERSITARIO,50,H,22,119775.54,0
3,1050614,2018-01-01,KHE,1,03 - UNIVERSITARIO,50,V,23,-1.00,0
4,1050615,2018-01-01,KHE,0,03 - UNIVERSITARIO,45,H,23,22220.04,0
5,1050616,2018-01-01,KHE,0,03 - UNIVERSITARIO,24,H,23,295590.36,0
6,1050617,2018-01-01,KHE,1,03 - UNIVERSITARIO,50,H,23,113316.66,0
7,1050619,2018-01-01,KHE,0,03 - UNIVERSITARIO,20,H,24,-1.00,0
8,1050620,2018-01-01,KHE,0,03 - UNIVERSITARIO,10,H,23,113194.98,0
9,1050621,2018-01-01,KHE,0,03 - UNIVERSITARIO,50,V,23,72575.88,0
10,1050622,2018-01-01,KHE,0,03 - UNIVERSITARIO,17,H,23,-1.00,0
11,1050623,2018-01-01,KHE,1,03 - UNIVERSITARIO,49,H,23,113538.81,0
12,1050624,2018-01-01,KHE,1,02 - PARTICULARES,50,H,65,61605.09,0
13,1050625,2018-01-01,KHE,1,03 - UNIVERSITARIO,49,V,23,-1.00,0
14,1050626,2018-01-01,KHE,1,03 - UNIVERSITARIO,8,V,23,-1.00,0
15,1050610,2018-01-01,KHE,1,03 - UNIVERSITARIO,37,V,24,68318.46,0
16,1050627,2018-01-01,KHE,0,03 - UNIVERSITARIO,13,H,23,65608.35,0
17,1050609,2018-01-01,KFA,1,03 - UNIVERSITARIO,13,H,22,73432.47,0
18,1050605,2018-01-01,KHE,0,03 - UNIVERSITARIO,45,V,23,-1.00,0
19,1050582,2018-01-01,KHE,1,03 - UNIVERSITARIO,13,V,28,64620.57,0
20,1050586,2018-01-01,KHE,1,03 - UNIVERSITARIO,13,V,23,64194.99,0
21,1050588,2018-01-01,KHE,1,03 - UNIVERSITARIO,9,H,22,-1.00,0
22,1050589,2018-01-01,KHE,0,03 - UNIVERSITARIO,22,V,23,119173.89,0
23,1050591,2018-01-01,KHE,1,03 - UNIVERSITARIO,13,H,23,58728.39,0
24,1050592,2018-01-01,KHD,0,03 - UNIVERSITARIO,31,H,22,-1.00,0
25,1050595,2018-01-01,KHE,1,03 - UNIVERSITARIO,5,V,25,86863.38,0
26,1050596,2018-01-01,KHE,1,03 - UNIVERSITARIO,50,H,25,68421.36,0
27,1050597,2018-01-01,KHE,0,03 - UNIVERSITARIO,45,H,23,-1.00,0
28,1050598,2018-01-01,KHE,1,03 - UNIVERSITARIO,45,H,23,90408.75,0
29,1050599,2018-01-01,KHE,0,03 - UNIVERSITARIO,49,V,24,74780.37,0
30,1050601,2018-01-01,KHE,0,03 - UNIVERSITARIO,45,V,26,120146.49,0
31,1050602,2018-01-01,KHE,1,03 - UNIVERSITARIO,37,V,23,91282.71,0
32,1050603,2018-01-01,KHE,1,03 - UNIVERSITARIO,50,H,23,131351.94,0
33,1050604,2018-01-01,KHE,0,02 - PARTICULARES,37,H,53,113279.10,0
34,1050607,2018-01-01,KHE,0,03 - UNIVERSITARIO,40,V,27,70777.59,0
35,1050580,2018-01-01,KHE,1,03 - UNIVERSITARIO,27,H,23,77320.92,0
36,1050628,2018-01-01,KHE,0,03 - UNIVERSITARIO,25,V,22,-1.00,0
37,1050630,2018-01-01,KHD,0,03 - UNIVERSITARIO,8,V,22,64398.06,0
38,1050669,2018-01-01,KFC,1,02 - PARTICULARES,29,V,32,171398.85,0
39,1050670,2018-01-01,KFC,1,02 - PARTICULARES,37,V,37,64031.25,0
40,1050676,2018-01-01,KFC,0,02 - PARTICULARES,45,V,31,90431.85,0
41,1050679,2018-01-01,KFC,1,02 - PARTICULARES,28,V,39,157191.69,0
42,1050680,2018-01-01,KFC,0,02 - PARTICULARES,8,V,53,133092.33,0
43,1050686,2018-01-01,KFC,1,02 - PARTICULARES,10,V,39,37075.26,0
44,1050688,2018-01-01,KFC,1,02 - PARTICULARES,28,V,63,245052.27,0
45,1050693,2018-01-01,KFC,0,02 - PARTICULARES,8,V,37,104035.08,0
46,1050694,2018-01-01,KFC,1,03 - UNIVERSITARIO,28,V,31,57155.34,0
47,1050697,2018-01-01,KFC,1,02 - PARTICULARES,28,H,33,-1.00,0
48,1050703,2018-01-01,KHE,0,03 - UNIVERSITARIO,22,V,23,53631.36,0
49,1050704,2018-01-01,KHE,0,03 - UNIVERSITARIO,8,V,23,72880.80,0

## Creamos datasets con compras y no compras de pension plan

In [54]:
df_con_reg_merged

,pk_cid,pk_partition,entry_channel,active_customer,segment,region_code,gender,age,salary,reg_pension_plan
0,1050611,2018-01-01,KHE,0,03 - UNIVERSITARIO,13,V,23,35548.74,0
1,1050612,2018-01-01,KHE,0,03 - UNIVERSITARIO,13,V,23,122179.11,0
2,1050613,2018-01-01,KHD,0,03 - UNIVERSITARIO,50,H,22,119775.54,0
3,1050614,2018-01-01,KHE,1,03 - UNIVERSITARIO,50,V,23,-1.00,0
4,1050615,2018-01-01,KHE,0,03 - UNIVERSITARIO,45,H,23,22220.04,0
...,...,...,...,...,...,...,...,...,...,...
1047514,1018682,2019-05-01,KAT,0,02 - PARTICULARES,28,V,88,35310.57,0
1047515,1018679,2019-05-01,KFA,1,02 - PARTICULARES,28,V,34,61180.11,0
1047516,1018676,2019-05-01,KFA,0,02 - PARTICULARES,28,H,74,63867.48,0
1047517,1018675,2019-05-01,KFC,0,02 - PARTICULARES,29,H,15,-1.00,0
1047518,1018723,2019-05-01,KFC,0,02 - PARTICULARES,43,V,42,-1.00,0

In [55]:
pension_plan_purch = df_con_reg_merged.loc[(df_con_reg_merged['reg_pension_plan'] == 1)]

In [56]:
pension_plan_purch

,pk_cid,pk_partition,entry_channel,active_customer,segment,region_code,gender,age,salary,reg_pension_plan
71,1050659,2018-01-01,KFC,1,02 - PARTICULARES,7,V,39,-1.00,1
120,1050565,2018-01-01,KHE,1,03 - UNIVERSITARIO,46,H,33,54141.03,1
140,1050537,2018-01-01,KHE,1,03 - UNIVERSITARIO,50,H,23,214309.14,1
186,1050869,2018-01-01,KHE,1,03 - UNIVERSITARIO,28,V,31,45758.82,1
222,1050920,2018-01-01,KHE,1,03 - UNIVERSITARIO,46,H,25,-1.00,1
...,...,...,...,...,...,...,...,...,...,...
1046941,1017759,2019-05-01,KFC,1,03 - UNIVERSITARIO,28,H,24,-1.00,1
1046944,1017752,2019-05-01,KFA,1,02 - PARTICULARES,28,V,29,78061.95,1
1047276,1019074,2019-05-01,KAT,1,02 - PARTICULARES,8,H,40,237887.46,1
1047442,1018802,2019-05-01,KAT,1,03 - UNIVERSITARIO,28,H,27,219826.11,1
1047487,1018600,2019-05-01,KFC,1,02 - PARTICULARES,29,V,34,133387.23,1

In [57]:
pension_plan_no_purch = df_con_reg_merged.loc[(df_con_reg_merged['reg_pension_plan'] == 0)]

In [58]:
pension_plan_no_purch

,pk_cid,pk_partition,entry_channel,active_customer,segment,region_code,gender,age,salary,reg_pension_plan
0,1050611,2018-01-01,KHE,0,03 - UNIVERSITARIO,13,V,23,35548.74,0
1,1050612,2018-01-01,KHE,0,03 - UNIVERSITARIO,13,V,23,122179.11,0
2,1050613,2018-01-01,KHD,0,03 - UNIVERSITARIO,50,H,22,119775.54,0
3,1050614,2018-01-01,KHE,1,03 - UNIVERSITARIO,50,V,23,-1.00,0
4,1050615,2018-01-01,KHE,0,03 - UNIVERSITARIO,45,H,23,22220.04,0
...,...,...,...,...,...,...,...,...,...,...
1047514,1018682,2019-05-01,KAT,0,02 - PARTICULARES,28,V,88,35310.57,0
1047515,1018679,2019-05-01,KFA,1,02 - PARTICULARES,28,V,34,61180.11,0
1047516,1018676,2019-05-01,KFA,0,02 - PARTICULARES,28,H,74,63867.48,0
1047517,1018675,2019-05-01,KFC,0,02 - PARTICULARES,29,H,15,-1.00,0
1047518,1018723,2019-05-01,KFC,0,02 - PARTICULARES,43,V,42,-1.00,0

Queremos utilizar las fechas del dataset pension_plan_purch anteriores para montar el dataset final con los datos de clientes.
Ya hemos identificado los 1, solo queremos las fechas. 
Cuando tengamos las fechas, podemos ir a los no-purch y sacar los datos anteriores a esas fechas (datetime).
De aquí tendremos clientes que han comprado pero con su comportamiento o descripción el mes anterior a la compra.

In [59]:
# Creamos una nueva columna con los datos de la pk_partition del mes anterior a la compra desde el data frame de purchase
pension_plan_purch['pk_part_prev_month'] = pension_plan_purch['pk_partition'] - pd.DateOffset(months=1)

C:\Users\Usuario\AppData\Local\Temp\ipykernel_17324\459634169.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pension_plan_purch['pk_part_prev_month'] = pension_plan_purch['pk_partition'] - pd.DateOffset(months=1)

In [60]:
pension_plan_purch.head()

,pk_cid,pk_partition,entry_channel,active_customer,segment,region_code,gender,age,salary,reg_pension_plan,pk_part_prev_month
71,1050659,2018-01-01,KFC,1,02 - PARTICULARES,7,V,39,-1.00,1,2017-12-01
120,1050565,2018-01-01,KHE,1,03 - UNIVERSITARIO,46,H,33,54141.03,1,2017-12-01
140,1050537,2018-01-01,KHE,1,03 - UNIVERSITARIO,50,H,23,214309.14,1,2017-12-01
186,1050869,2018-01-01,KHE,1,03 - UNIVERSITARIO,28,V,31,45758.82,1,2017-12-01
222,1050920,2018-01-01,KHE,1,03 - UNIVERSITARIO,46,H,25,-1.00,1,2017-12-01

In [61]:
pension_plan_purch = pension_plan_purch[['pk_cid', 'pk_part_prev_month']]

Habiendo obtenido el dataframe con los clientes que compran y el pk_partition_del mes anterior a la compra, queremos sacar los datos de estos clientes para la fecha del mes anterior a la compra, para saber que características tenian.

In [62]:
# Mergeamos por pk_cid y pk_partition del mes anterior a compra con el dataframe de las no compras

df_customers_purchased = pd.merge(
    left = pension_plan_purch, 
    right = pension_plan_no_purch, 
    left_on = ('pk_cid', 'pk_part_prev_month'), 
    right_on=('pk_cid', 'pk_partition'),
    how='inner'
    )

Aqui vemos el dataframe resultante de las características del mes antes de la compra solo para aquellos clientes que han comprado el pension plan.

In [63]:
df_customers_purchased.isna().sum()

pk_cid                0
pk_part_prev_month    0
pk_partition          0
entry_channel         0
active_customer       0
segment               0
region_code           0
gender                0
age                   0
salary                0
reg_pension_plan      0
dtype: int64

In [64]:
pension_plan_no_purch .info()

<class 'pandas.core.frame.DataFrame'>
Index: 1039859 entries, 0 to 1047518
Data columns (total 10 columns):
 #   Column            Non-Null Count    Dtype
---  ------            --------------    -----
 0   pk_cid            1039859 non-null  int64
 1   pk_partition      1039859 non-null  datetime64[ns]
 2   entry_channel     1039859 non-null  object
 3   active_customer   1039859 non-null  int64
 4   segment           1039859 non-null  object
 5   region_code       1039859 non-null  int64
 6   gender            1039859 non-null  object
 7   age               1039859 non-null  int64
 8   salary            1039859 non-null  float64
 9   reg_pension_plan  1039859 non-null  int64
dtypes: datetime64[ns](1), float64(1), int64(5), object(3)
memory usage: 87.3+ MB

In [65]:
df_customers_purchased.head(10)

,pk_cid,pk_part_prev_month,pk_partition,entry_channel,active_customer,segment,region_code,gender,age,salary,reg_pension_plan
0,456665,2018-01-01,2018-01-01,KAT,1,03 - UNIVERSITARIO,8,V,32,145200.78,0
1,492727,2018-01-01,2018-01-01,KHE,1,02 - PARTICULARES,46,V,36,37690.02,0
2,485371,2018-01-01,2018-01-01,KAT,1,02 - PARTICULARES,8,H,41,107403.51,0
3,806854,2018-01-01,2018-01-01,KAT,1,02 - PARTICULARES,28,V,43,116528.10,0
4,797955,2018-01-01,2018-01-01,KAT,1,02 - PARTICULARES,15,V,46,-1.00,0
5,758840,2018-01-01,2018-01-01,KAT,1,02 - PARTICULARES,28,H,47,101766.36,0
6,865312,2018-01-01,2018-01-01,KAT,1,02 - PARTICULARES,28,V,51,255480.66,0
7,859000,2018-01-01,2018-01-01,KAT,1,02 - PARTICULARES,28,H,60,68652.06,0
8,873806,2018-01-01,2018-01-01,KFC,1,02 - PARTICULARES,8,V,55,53373.15,0
9,850255,2018-01-01,2018-01-01,KAT,1,02 - PARTICULARES,41,V,81,217192.89,0

Como sabemos que todos los clientes del df_cuestomers_purchased nos han comprado el pension plan, le decimos que reemplace el 0 de compra por el 1.

In [66]:
df_customers_purchased['reg_pension_plan'].replace({0: 1}, inplace=True)

C:\Users\Usuario\AppData\Local\Temp\ipykernel_17324\3373071501.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_customers_purchased['reg_pension_plan'].replace({0: 1}, inplace=True)

In [67]:
df_customers_purchased.shape

(5451, 11)

Vemos que los clientes que nos han comprado son 5451.

Para tener un modelo balanceado hacen falta clientes que no hayan comprado ni vayan a comprar. Tenemos que ver que el modelo sea balanceado para cada mes de partición. Para eso, hacemos un left merge con el df de los clientes que han comprado, según el pk_cid. Quedandonos así con el pk_cid de clientes que no coinciden en ninguna de las tablas (es decir, con los pk_cid que no tengan compra de pension plan). Indicator=Truem crea una columna merge que indica la procedencia de los datos, left only, right only o both.

In [68]:
df_customers_no_purchased = pd.merge(
    left=pension_plan_no_purch, 
    right=pension_plan_purch, 
    left_on=('pk_cid', 'pk_partition'), 
    right_on=('pk_cid', 'pk_part_prev_month'),
    how='left',
    indicator=True
)

In [69]:
df_customers_no_purchased

,pk_cid,pk_partition,entry_channel,active_customer,segment,region_code,gender,age,salary,reg_pension_plan,pk_part_prev_month,_merge
0,1050611,2018-01-01,KHE,0,03 - UNIVERSITARIO,13,V,23,35548.74,0,NaT,left_only
1,1050612,2018-01-01,KHE,0,03 - UNIVERSITARIO,13,V,23,122179.11,0,NaT,left_only
2,1050613,2018-01-01,KHD,0,03 - UNIVERSITARIO,50,H,22,119775.54,0,NaT,left_only
3,1050614,2018-01-01,KHE,1,03 - UNIVERSITARIO,50,V,23,-1.00,0,NaT,left_only
4,1050615,2018-01-01,KHE,0,03 - UNIVERSITARIO,45,H,23,22220.04,0,NaT,left_only
...,...,...,...,...,...,...,...,...,...,...,...,...
1039854,1018682,2019-05-01,KAT,0,02 - PARTICULARES,28,V,88,35310.57,0,NaT,left_only
1039855,1018679,2019-05-01,KFA,1,02 - PARTICULARES,28,V,34,61180.11,0,NaT,left_only
1039856,1018676,2019-05-01,KFA,0,02 - PARTICULARES,28,H,74,63867.48,0,NaT,left_only
1039857,1018675,2019-05-01,KFC,0,02 - PARTICULARES,29,H,15,-1.00,0,NaT,left_only
1039858,1018723,2019-05-01,KFC,0,02 - PARTICULARES,43,V,42,-1.00,0,NaT,left_only

Ressceibimos el dataframe diciendo que despues de haber creado la columa merge que indica la procedencia de datos, solo nos queremos quedar con aquellos que para esa columna procedan solo de left_only, es decir, del dataset que no tiene compras. Además le pedimos que elimina la columna merge porque no nos interesa. Asi nos aseguramos que en el dataset de clientes que no han comprado solo tenemos aquellos clientes que no han comprado ni pretenden comprar en el dataset.

In [70]:
df_customers_no_purchased = df_customers_no_purchased[df_customers_no_purchased['_merge'] == 'left_only'].drop(columns=['_merge'])

In [71]:
df_customers_no_purchased.isna().sum()

pk_cid                      0
pk_partition                0
entry_channel               0
active_customer             0
segment                     0
region_code                 0
gender                      0
age                         0
salary                      0
reg_pension_plan            0
pk_part_prev_month    1034408
dtype: int64

In [72]:
df_customers_no_purchased

,pk_cid,pk_partition,entry_channel,active_customer,segment,region_code,gender,age,salary,reg_pension_plan,pk_part_prev_month
0,1050611,2018-01-01,KHE,0,03 - UNIVERSITARIO,13,V,23,35548.74,0,NaT
1,1050612,2018-01-01,KHE,0,03 - UNIVERSITARIO,13,V,23,122179.11,0,NaT
2,1050613,2018-01-01,KHD,0,03 - UNIVERSITARIO,50,H,22,119775.54,0,NaT
3,1050614,2018-01-01,KHE,1,03 - UNIVERSITARIO,50,V,23,-1.00,0,NaT
4,1050615,2018-01-01,KHE,0,03 - UNIVERSITARIO,45,H,23,22220.04,0,NaT
...,...,...,...,...,...,...,...,...,...,...,...
1039854,1018682,2019-05-01,KAT,0,02 - PARTICULARES,28,V,88,35310.57,0,NaT
1039855,1018679,2019-05-01,KFA,1,02 - PARTICULARES,28,V,34,61180.11,0,NaT
1039856,1018676,2019-05-01,KFA,0,02 - PARTICULARES,28,H,74,63867.48,0,NaT
1039857,1018675,2019-05-01,KFC,0,02 - PARTICULARES,29,H,15,-1.00,0,NaT
1039858,1018723,2019-05-01,KFC,0,02 - PARTICULARES,43,V,42,-1.00,0,NaT

De aquí tendremos que seleccionar, al azar, la misma cantidad de filas de aquellos clientes que compraron para un mismo mes, para un modelo balanceado. En total, hacen falta 5451 que no hayan comprado pero tendremos que ver cuantos hacen falta para cada pk_partition.

Seleccionar 5451 clientes del no-purchase  
Concatenar df df_customers_purchased + df_customers_no_purchased  
Eliminar pk_partition_pre_month

In [73]:
# Contar el número de clientes por pk_partition en df_customers_purchased
customers_count = df_customers_purchased.groupby('pk_partition')['pk_cid'].count()

In [74]:
# Crear un DataFrame vacío para almacenar las muestras
df_customers_no_purchased_samples = pd.DataFrame()

# Recorrer cada pk_partition en customers_count
for pk_partition, count in customers_count.items():
    # Filtrar clientes sin compra para el pk_partition actual
    df_no_purchase_filtered = df_customers_no_purchased[df_customers_no_purchased['pk_partition'] == pk_partition]
    
    # Muestrear el mismo número de clientes sin compra
    if len(df_no_purchase_filtered) >= count:
        df_sampled = df_no_purchase_filtered.sample(n=count, random_state=42)  # random_state para reproducibilidad
    else:
        # Si hay menos clientes sin compra que con compra, tomar todos
        df_sampled = df_no_purchase_filtered
    
    # Agregar la muestra al DataFrame de resultados
    df_customers_no_purchased_samples = pd.concat([df_customers_no_purchased_samples, df_sampled])

# Resetear el índice del DataFrame resultante
df_customers_no_purchased_samples.reset_index(drop=True, inplace=True)

Con la iteración anterior hemos hecho un hroupby para conocer el numero de entradas por pk_partition para el dataset de compras. En función de este numero, hemos creado un nuevo dataframe que filtra por numero de pk_partition en el dataset de no compras y se rellena de forma aleatoria con valores de ese dataset. Finalmente, Este dataset contendrá las mismas entradas que el dataset de compras para cada pk_partition. HEmos puesto una línea para que si no hubiesen suficientes entradas del dataset sin compras para esa pk_partition, coja todos los valores disponibles.

In [75]:
df_customers_no_purchased_samples.shape

(5451, 11)

Comrpobamos que se ha ejecutado bien la función que queríamos.

In [76]:
len(df_customers_purchased.loc[df_customers_purchased['pk_partition']=='2018-11-01'])

315

In [77]:
len(df_customers_no_purchased_samples.loc[df_customers_no_purchased_samples['pk_partition']=='2018-11-01'])

315

In [78]:
df_customers_no_purchased_samples

,pk_cid,pk_partition,entry_channel,active_customer,segment,region_code,gender,age,salary,reg_pension_plan,pk_part_prev_month
0,1058683,2018-01-01,KHE,0,03 - UNIVERSITARIO,10,H,23,55836.24,0,NaT
1,1023378,2018-01-01,KAT,0,02 - PARTICULARES,29,H,35,-1.00,0,NaT
2,1065063,2018-01-01,KAT,1,02 - PARTICULARES,43,V,46,51999.93,0,NaT
3,1052840,2018-01-01,KHD,0,03 - UNIVERSITARIO,3,H,22,121276.53,0,NaT
4,1073591,2018-01-01,KHD,0,03 - UNIVERSITARIO,27,H,22,38469.39,0,NaT
...,...,...,...,...,...,...,...,...,...,...,...
5446,1010994,2019-04-01,KHE,1,03 - UNIVERSITARIO,29,H,24,45919.56,0,NaT
5447,1035671,2019-04-01,KHE,0,03 - UNIVERSITARIO,30,V,25,71609.25,0,NaT
5448,92084,2019-04-01,KAT,1,02 - PARTICULARES,28,H,69,253965.48,0,NaT
5449,1039644,2019-04-01,KHE,1,03 - UNIVERSITARIO,2,V,23,49245.84,0,NaT
5450,1012721,2019-04-01,KFC,1,02 - PARTICULARES,46,V,28,64812.45,0,NaT

## Concatenamos los dataframes

Unimos los clientes de los dataframes para tener nuestro dataset para entrenar el modelo.

In [79]:
df = pd.concat([df_customers_purchased, df_customers_no_purchased_samples], axis=0)

In [80]:
df

,pk_cid,pk_part_prev_month,pk_partition,entry_channel,active_customer,segment,region_code,gender,age,salary,reg_pension_plan
0,456665,2018-01-01,2018-01-01,KAT,1,03 - UNIVERSITARIO,8,V,32,145200.78,1
1,492727,2018-01-01,2018-01-01,KHE,1,02 - PARTICULARES,46,V,36,37690.02,1
2,485371,2018-01-01,2018-01-01,KAT,1,02 - PARTICULARES,8,H,41,107403.51,1
3,806854,2018-01-01,2018-01-01,KAT,1,02 - PARTICULARES,28,V,43,116528.10,1
4,797955,2018-01-01,2018-01-01,KAT,1,02 - PARTICULARES,15,V,46,-1.00,1
...,...,...,...,...,...,...,...,...,...,...,...
5446,1010994,NaT,2019-04-01,KHE,1,03 - UNIVERSITARIO,29,H,24,45919.56,0
5447,1035671,NaT,2019-04-01,KHE,0,03 - UNIVERSITARIO,30,V,25,71609.25,0
5448,92084,NaT,2019-04-01,KAT,1,02 - PARTICULARES,28,H,69,253965.48,0
5449,1039644,NaT,2019-04-01,KHE,1,03 - UNIVERSITARIO,2,V,23,49245.84,0
5450,1012721,NaT,2019-04-01,KFC,1,02 - PARTICULARES,46,V,28,64812.45,0

### Eliminamos columnas no útiles: pk_part_prev_month, pk_partition y pk_cid

In [81]:
df.drop(columns=['pk_part_prev_month','pk_partition', 'pk_cid'], inplace=True)

In [82]:
df

,entry_channel,active_customer,segment,region_code,gender,age,salary,reg_pension_plan
0,KAT,1,03 - UNIVERSITARIO,8,V,32,145200.78,1
1,KHE,1,02 - PARTICULARES,46,V,36,37690.02,1
2,KAT,1,02 - PARTICULARES,8,H,41,107403.51,1
3,KAT,1,02 - PARTICULARES,28,V,43,116528.10,1
4,KAT,1,02 - PARTICULARES,15,V,46,-1.00,1
...,...,...,...,...,...,...,...,...
5446,KHE,1,03 - UNIVERSITARIO,29,H,24,45919.56,0
5447,KHE,0,03 - UNIVERSITARIO,30,V,25,71609.25,0
5448,KAT,1,02 - PARTICULARES,28,H,69,253965.48,0
5449,KHE,1,03 - UNIVERSITARIO,2,V,23,49245.84,0
5450,KFC,1,02 - PARTICULARES,46,V,28,64812.45,0

1. Sustituir region code por nombre de ciudades

In [83]:
# Diccionario que mapea los códigos de región a nombres
codigo_a_nombre = {
    1: 'Alava',
    2: 'Albacete',
    3: 'Alicante',
    4: 'Almeria',
    5: 'Avila',
    6: 'Badajoz',
    7: 'Islas Baleares',
    8: 'Barcelona',
    9: 'Burgos',
    10: 'Caceres',
    11: 'Cadiz',
    12: 'Castellon',
    13: 'Ciudad Real',
    14: 'Cordoba',
    15: 'La Coruña',
    16: 'Cuenca',
    17: 'Gerona',
    18: 'Granada',
    19: 'Guadalajara',
    20: 'Guipuzcoa',
    21: 'Huelva',
    22: 'Huesca',
    23: 'Jaen',
    24: 'Leon',
    25: 'Lerida',
    26: 'La Rioja',
    27: 'Lugo',
    28: 'Madrid',
    29: 'Malaga',
    30: 'Murcia',
    31: 'Navarra',
    32: 'Orense',
    33: 'Asturias',
    34: 'Palencia',
    35: 'Las Palmas',
    36: 'Pontevedra',
    37: 'Salamanca',
    38: 'Santa Cruz de Tenerife',
    39: 'Cantabria',
    40: 'Segovia',
    41: 'Sevilla',
    42: 'Soria',
    43: 'Tarragona',
    44: 'Teruel',
    45: 'Toledo',
    46: 'Valencia',
    47: 'Valladolid',
    48: 'Vizcaya',
    49: 'Zamora',
    50: 'Zaragoza',
    51: 'Ceuta',
    52: 'Melilla'
}

# Reemplaza los valores en la columna 'region_code' usando el diccionario
df['region_code'] = df['region_code'].replace(codigo_a_nombre)

# Muestra el DataFrame para verificar los cambios
print(df)

     entry_channel  active_customer             segment region_code gender  \
0              KAT                1  03 - UNIVERSITARIO   Barcelona      V
1              KHE                1   02 - PARTICULARES    Valencia      V
2              KAT                1   02 - PARTICULARES   Barcelona      H
3              KAT                1   02 - PARTICULARES      Madrid      V
4              KAT                1   02 - PARTICULARES   La Coruña      V
...            ...              ...                 ...         ...    ...
5446           KHE                1  03 - UNIVERSITARIO      Malaga      H
5447           KHE                0  03 - UNIVERSITARIO      Murcia      V
5448           KAT                1   02 - PARTICULARES      Madrid      H
5449           KHE                1  03 - UNIVERSITARIO    Albacete      V
5450           KFC                1   02 - PARTICULARES    Valencia      V

      age     salary  reg_pension_plan
0      32  145200.78                 1
1      36   37690.02                 1
2      41  107403.51                 1
3      43  116528.10                 1
4      46      -1.00                 1
...   ...        ...               ...
5446   24   45919.56                 0
5447   25   71609.25                 0
5448   69  253965.48                 0
5449   23   49245.84                 0
5450   28   64812.45                 0

[10902 rows x 8 columns]

In [84]:
df.head()

,entry_channel,active_customer,segment,region_code,gender,age,salary,reg_pension_plan
0,KAT,1,03 - UNIVERSITARIO,Barcelona,V,32,145200.78,1
1,KHE,1,02 - PARTICULARES,Valencia,V,36,37690.02,1
2,KAT,1,02 - PARTICULARES,Barcelona,H,41,107403.51,1
3,KAT,1,02 - PARTICULARES,Madrid,V,43,116528.10,1
4,KAT,1,02 - PARTICULARES,La Coruña,V,46,-1.00,1

2. hacer OHE de entry_channel, segment, gender, nombre ciudad

In [85]:
object_columns = [col for col in df if df[col].dtype.kind == 'O']

In [86]:
object_columns

['entry_channel', 'segment', 'region_code', 'gender']

In [87]:
for col in object_columns:
    _dummy_dataset = pd.get_dummies(df[col], prefix=col)
    df = pd.concat([df,_dummy_dataset],axis=1)
    df.drop([col],axis=1, inplace=True)

In [88]:
df.head()

,active_customer,age,salary,reg_pension_plan,entry_channel_KAT,entry_channel_KFA,entry_channel_KFC,entry_channel_KHD,entry_channel_KHE,entry_channel_KHK,...,region_code_Tarragona,region_code_Teruel,region_code_Toledo,region_code_Valencia,region_code_Valladolid,region_code_Vizcaya,region_code_Zamora,region_code_Zaragoza,gender_H,gender_V
0,1,32,145200.78,1,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
1,1,36,37690.02,1,False,False,False,False,True,False,...,False,False,False,True,False,False,False,False,False,True
2,1,41,107403.51,1,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
3,1,43,116528.10,1,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
4,1,46,-1.00,1,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True

In [89]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10902 entries, 0 to 5450
Data columns (total 74 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   active_customer                     10902 non-null  int64
 1   age                                 10902 non-null  int64
 2   salary                              10902 non-null  float64
 3   reg_pension_plan                    10902 non-null  int64
 4   entry_channel_KAT                   10902 non-null  bool
 5   entry_channel_KFA                   10902 non-null  bool
 6   entry_channel_KFC                   10902 non-null  bool
 7   entry_channel_KHD                   10902 non-null  bool
 8   entry_channel_KHE                   10902 non-null  bool
 9   entry_channel_KHK                   10902 non-null  bool
 10  entry_channel_KHM                   10902 non-null  bool
 11  entry_channel_KHN                   10902 non-null  bool
 12  entry_channel_KHQ                   10902 non-null  bool
 13  entry_channel_Not defined           10902 non-null  bool
 14  entry_channel_Others                10902 non-null  bool
 15  entry_channel_RED                   10902 non-null  bool
 16  segment_01 - TOP                    10902 non-null  bool
 17  segment_02 - PARTICULARES           10902 non-null  bool
 18  segment_03 - UNIVERSITARIO          10902 non-null  bool
 19  segment_Not defined                 10902 non-null  bool
 20  region_code_Alava                   10902 non-null  bool
 21  region_code_Albacete                10902 non-null  bool
 22  region_code_Alicante                10902 non-null  bool
 23  region_code_Almeria                 10902 non-null  bool
 24  region_code_Asturias                10902 non-null  bool
 25  region_code_Avila                   10902 non-null  bool
 26  region_code_Badajoz                 10902 non-null  bool
 27  region_code_Barcelona               10902 non-null  bool
 28  region_code_Burgos                  10902 non-null  bool
 29  region_code_Caceres                 10902 non-null  bool
 30  region_code_Cadiz                   10902 non-null  bool
 31  region_code_Cantabria               10902 non-null  bool
 32  region_code_Castellon               10902 non-null  bool
 33  region_code_Ceuta                   10902 non-null  bool
 34  region_code_Ciudad Real             10902 non-null  bool
 35  region_code_Cordoba                 10902 non-null  bool
 36  region_code_Cuenca                  10902 non-null  bool
 37  region_code_Gerona                  10902 non-null  bool
 38  region_code_Granada                 10902 non-null  bool
 39  region_code_Guadalajara             10902 non-null  bool
 40  region_code_Guipuzcoa               10902 non-null  bool
 41  region_code_Huelva                  10902 non-null  bool
 42  region_code_Huesca                  10902 non-null  bool
 43  region_code_Islas Baleares          10902 non-null  bool
 44  region_code_Jaen                    10902 non-null  bool
 45  region_code_La Coruña               10902 non-null  bool
 46  region_code_La Rioja                10902 non-null  bool
 47  region_code_Las Palmas              10902 non-null  bool
 48  region_code_Leon                    10902 non-null  bool
 49  region_code_Lerida                  10902 non-null  bool
 50  region_code_Lugo                    10902 non-null  bool
 51  region_code_Madrid                  10902 non-null  bool
 52  region_code_Malaga                  10902 non-null  bool
 53  region_code_Melilla                 10902 non-null  bool
 54  region_code_Murcia                  10902 non-null  bool
 55  region_code_Navarra                 10902 non-null  bool
 56  region_code_Orense                  10902 non-null  bool
 57  region_code_Palencia                10902 non-null  bool
 58  region_code_Pontevedra              10902 non-null  bool
 59  region_code_Salamanca               10902 non-null  bool
 60  region_code_Santa Cruz de Tenerife  10902 non-null  bool
 61  region_code_Segovia                 10902 non-null  bool
 62  region_code_Sevilla                 10902 non-null  bool
 63  region_code_Soria                   10902 non-null  bool
 64  region_code_Tarragona               10902 non-null  bool
 65  region_code_Teruel                  10902 non-null  bool
 66  region_code_Toledo                  10902 non-null  bool
 67  region_code_Valencia                10902 non-null  bool
 68  region_code_Valladolid              10902 non-null  bool
 69  region_code_Vizcaya                 10902 non-null  bool
 70  region_code_Zamora                  10902 non-null  bool
 71  region_code_Zaragoza                10902 non-null  bool
 72  gender_H                            10902 non-null  bool
 73  gender_V                            10902 non-null  bool
dtypes: bool(70), float64(1), int64(3)
memory usage: 1.1 MB

In [90]:
boolean_col = [col for col in df if df[col].dtype.kind == "b"]
print(boolean_col)

['entry_channel_KAT', 'entry_channel_KFA', 'entry_channel_KFC', 'entry_channel_KHD', 'entry_channel_KHE', 'entry_channel_KHK', 'entry_channel_KHM', 'entry_channel_KHN', 'entry_channel_KHQ', 'entry_channel_Not defined', 'entry_channel_Others', 'entry_channel_RED', 'segment_01 - TOP', 'segment_02 - PARTICULARES', 'segment_03 - UNIVERSITARIO', 'segment_Not defined', 'region_code_Alava', 'region_code_Albacete', 'region_code_Alicante', 'region_code_Almeria', 'region_code_Asturias', 'region_code_Avila', 'region_code_Badajoz', 'region_code_Barcelona', 'region_code_Burgos', 'region_code_Caceres', 'region_code_Cadiz', 'region_code_Cantabria', 'region_code_Castellon', 'region_code_Ceuta', 'region_code_Ciudad Real', 'region_code_Cordoba', 'region_code_Cuenca', 'region_code_Gerona', 'region_code_Granada', 'region_code_Guadalajara', 'region_code_Guipuzcoa', 'region_code_Huelva', 'region_code_Huesca', 'region_code_Islas Baleares', 'region_code_Jaen', 'region_code_La Coruña', 'region_code_La Rioja', 'region_code_Las Palmas', 'region_code_Leon', 'region_code_Lerida', 'region_code_Lugo', 'region_code_Madrid', 'region_code_Malaga', 'region_code_Melilla', 'region_code_Murcia', 'region_code_Navarra', 'region_code_Orense', 'region_code_Palencia', 'region_code_Pontevedra', 'region_code_Salamanca', 'region_code_Santa Cruz de Tenerife', 'region_code_Segovia', 'region_code_Sevilla', 'region_code_Soria', 'region_code_Tarragona', 'region_code_Teruel', 'region_code_Toledo', 'region_code_Valencia', 'region_code_Valladolid', 'region_code_Vizcaya', 'region_code_Zamora', 'region_code_Zaragoza', 'gender_H', 'gender_V']

In [91]:
for col in boolean_col:
    df[col] = df[col].astype('int16')

In [92]:
df.head()

,active_customer,age,salary,reg_pension_plan,entry_channel_KAT,entry_channel_KFA,entry_channel_KFC,entry_channel_KHD,entry_channel_KHE,entry_channel_KHK,...,region_code_Tarragona,region_code_Teruel,region_code_Toledo,region_code_Valencia,region_code_Valladolid,region_code_Vizcaya,region_code_Zamora,region_code_Zaragoza,gender_H,gender_V
0,1,32,145200.78,1,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1,1,36,37690.02,1,0,0,0,0,1,0,...,0,0,0,1,0,0,0,0,0,1
2,1,41,107403.51,1,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3,1,43,116528.10,1,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
4,1,46,-1.00,1,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [93]:
df['reg_pension_plan'].value_counts()

reg_pension_plan
1    5451
0    5451
Name: count, dtype: int64

Revisamos correlaciones para ver si hay variables prescindibles y vemos que no existen correlaciones notables.

In [94]:
corr = df.corr(numeric_only = True)
corr.style.background_gradient(cmap='coolwarm')

ImportError: background_gradient requires matplotlib.

In [95]:
# eliminamos columnas que son nan.
df.dropna(inplace=True)
df.isnull().sum()

active_customer                       0
age                                   0
salary                                0
reg_pension_plan                      0
entry_channel_KAT                     0
entry_channel_KFA                     0
entry_channel_KFC                     0
entry_channel_KHD                     0
entry_channel_KHE                     0
entry_channel_KHK                     0
entry_channel_KHM                     0
entry_channel_KHN                     0
entry_channel_KHQ                     0
entry_channel_Not defined             0
entry_channel_Others                  0
entry_channel_RED                     0
segment_01 - TOP                      0
segment_02 - PARTICULARES             0
segment_03 - UNIVERSITARIO            0
segment_Not defined                   0
region_code_Alava                     0
region_code_Albacete                  0
region_code_Alicante                  0
region_code_Almeria                   0
region_code_Asturias                  0
region_code_Avila                     0
region_code_Badajoz                   0
region_code_Barcelona                 0
region_code_Burgos                    0
region_code_Caceres                   0
region_code_Cadiz                     0
region_code_Cantabria                 0
region_code_Castellon                 0
region_code_Ceuta                     0
region_code_Ciudad Real               0
region_code_Cordoba                   0
region_code_Cuenca                    0
region_code_Gerona                    0
region_code_Granada                   0
region_code_Guadalajara               0
region_code_Guipuzcoa                 0
region_code_Huelva                    0
region_code_Huesca                    0
region_code_Islas Baleares            0
region_code_Jaen                      0
region_code_La Coruña                 0
region_code_La Rioja                  0
region_code_Las Palmas                0
region_code_Leon                      0
region_code_Lerida                    0
region_code_Lugo                      0
region_code_Madrid                    0
region_code_Malaga                    0
region_code_Melilla                   0
region_code_Murcia                    0
region_code_Navarra                   0
region_code_Orense                    0
region_code_Palencia                  0
region_code_Pontevedra                0
region_code_Salamanca                 0
region_code_Santa Cruz de Tenerife    0
region_code_Segovia                   0
region_code_Sevilla                   0
region_code_Soria                     0
region_code_Tarragona                 0
region_code_Teruel                    0
region_code_Toledo                    0
region_code_Valencia                  0
region_code_Valladolid                0
region_code_Vizcaya                   0
region_code_Zamora                    0
region_code_Zaragoza                  0
gender_H                              0
gender_V                              0
dtype: int64

## MLC4. Modelling
#### Generación de la partición de validación

In [96]:
df.shape

(10902, 74)

In [97]:
dev, val = train_test_split(df, test_size=0.5, stratify=df['reg_pension_plan'])

In [98]:
print("Distribución en el conjunto de entrenamiento:")
print(dev['reg_pension_plan'].value_counts(normalize=True))

Distribución en el conjunto de entrenamiento:
reg_pension_plan
1    0.500092
0    0.499908
Name: proportion, dtype: float64

In [99]:
print("Distribución en el conjunto de validación:")
print(val['reg_pension_plan'].value_counts(normalize=True))

Distribución en el conjunto de validación:
reg_pension_plan
0    0.500092
1    0.499908
Name: proportion, dtype: float64

Vamos a dividir nuestro dataset en dos grandes grupos, development y validation y posteriormente dividiremos development en train y test.

In [100]:
dev_df_X = dev.drop('reg_pension_plan', axis=1)
dev_df_y = dev[['reg_pension_plan']]

In [101]:
val_df_X = val.drop('reg_pension_plan', axis=1)
val_df_y = val[['reg_pension_plan']]

In [102]:
dev_df_X.head()

,active_customer,age,salary,entry_channel_KAT,entry_channel_KFA,entry_channel_KFC,entry_channel_KHD,entry_channel_KHE,entry_channel_KHK,entry_channel_KHM,...,region_code_Tarragona,region_code_Teruel,region_code_Toledo,region_code_Valencia,region_code_Valladolid,region_code_Vizcaya,region_code_Zamora,region_code_Zaragoza,gender_H,gender_V
566,1,14,-1.00,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2531,0,37,77612.91,0,0,0,0,1,0,0,...,0,0,0,1,0,0,0,0,0,1
5302,1,23,82991.64,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1
1049,0,23,91062.48,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
3921,1,26,66557.37,0,0,0,0,1,0,0,...,0,0,0,1,0,0,0,0,0,1

In [103]:
dev_df_y.head()

      reg_pension_plan
566                  0
2531                 0
5302                 1
1049                 0
3921                 0

#### Random Holdout
Separamos nuestro dataset de train y test de forma random especificando para que tenga 30% de 0/1 del target en el test.

In [104]:
X_train, X_test, y_train, y_test = model_selection.train_test_split(
                                        dev_df_X, 
                                        dev_df_y, 
                                        test_size = 0.30,
                                        random_state = 42
                                     )

In [105]:
X_train.describe().T.head()

,count,mean,std,min,25%,50%,75%,max
active_customer,3815.0,0.678375,0.467161,0.0,0.00,1.00,1.00,1.00
age,3815.0,33.755701,13.575676,5.0,24.00,29.00,39.00,100.00
salary,3815.0,99950.671872,124249.786433,-1.0,46611.54,81908.64,127371.75,4718442.06
entry_channel_KAT,3815.0,0.149148,0.356281,0.0,0.00,0.00,0.00,1.00
entry_channel_KFA,3815.0,0.038270,0.191872,0.0,0.00,0.00,0.00,1.00

In [106]:
X_test.describe().T.head()

,count,mean,std,min,25%,50%,75%,max
active_customer,1636.0,0.668704,0.470823,0.0,0.000,1.000,1.000,1.00
age,1636.0,34.187653,13.637675,7.0,24.000,29.000,40.000,93.00
salary,1636.0,98519.438802,114376.709995,-1.0,45410.865,82267.845,127836.435,2772111.36
entry_channel_KAT,1636.0,0.152200,0.359325,0.0,0.000,0.000,0.000,1.00
entry_channel_KFA,1636.0,0.033007,0.178710,0.0,0.000,0.000,0.000,1.00

In [107]:
y_train.describe().T.head()

                   count      mean       std  min  25%  50%  75%  max
reg_pension_plan  3815.0  0.499869  0.500066  0.0  0.0  0.0  1.0  1.0

In [108]:
y_test.describe().T.head()

                   count      mean       std  min  25%  50%  75%  max
reg_pension_plan  1636.0  0.500611  0.500153  0.0  0.0  1.0  1.0  1.0

Como las medias son similares entre train y test, los datos han quedado bien distribuidos.

## Model definition
#### Importamos las librerías que nos permitiran construir el modelo de clasificación

In [109]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.tree import export_graphviz
import graphviz

Le pasamos la definición del algoritmo, donde decidimos que tenga una profundidad de 8 con un min_samples_split de 500 y siga el coeficiente de Gini. Se indica el random_state para definir la aletoriedad y que siempre se haga de la misma manera.

In [110]:
dt_basic = DecisionTreeClassifier(
        criterion="gini",
        splitter="best",
        max_depth=7,
        min_samples_split=500,
        min_samples_leaf=1,
        min_weight_fraction_leaf=0.0,
        max_features=None,
        random_state=42,
        max_leaf_nodes=None,
        min_impurity_decrease=0.0,
        class_weight=None,
        ccp_alpha=0.0
)

Entrenamos el modelo

In [111]:
dt_basic.fit(X_train, y_train)

DecisionTreeClassifier(max_depth=7, min_samples_split=500, random_state=42)

Representamos el modelo de train

In [112]:
tree_model = export_graphviz(
    decision_tree = dt_basic,
    out_file=None,
    max_depth=8,
    feature_names=X_train.columns,
    class_names=['Contrata', 'No contrata'],
    filled=True,
    impurity=True,
    proportion=True,
    rotate=True,
    rounded=True
)

In [113]:
graphviz.Source(tree_model)

## Evaluar el modelo
### Accuracy

In [114]:
y_test_pred = pd.DataFrame(dt_basic.predict(X_test), index = y_test.index, columns = ['Predicción contratación'])
y_test_pred.head(5)
y_test.head(5)

      reg_pension_plan
5248                 0
71                   0
768                  0
2542                 0
3793                 1

Le pedimos que nos junte para obtenr la matriz con los resultados predecidos y los reales

In [115]:
result_df = y_test.join(y_test_pred, how = 'inner')
result_df

      reg_pension_plan  Predicción contratación
5248                 0                        0
5248                 0                        1
71                   0                        0
768                  0                        0
2542                 0                        0
...                ...                      ...
1498                 1                        1
4541                 1                        1
4274                 0                        0
1077                 1                        1
5057                 0                        0

[1888 rows x 2 columns]

Parece que el modelo predice contrataciones de más (falsos positivos)

In [116]:
result_df['Success'] = (result_df['reg_pension_plan'] == result_df['Predicción contratación'])

In [117]:
result_df.shape

(1888, 3)

In [118]:
result_df['Success'].sum()

np.int64(1332)

In [119]:
#accuracy
result_df['Success'].mean()

np.float64(0.7055084745762712)

Vemos el accuracy es de 0.77 pero usaremos otras métricas de validación más complejas para ver si sale un resultado diferente.

### Confusion matrix

In [120]:
confusion_matrix = pd.crosstab(result_df['reg_pension_plan'], result_df['Predicción contratación'])

In [121]:
1 - result_df['Success'].mean()
TN = confusion_matrix.iloc[0,0]
FP = confusion_matrix.iloc[0,1]
FN = confusion_matrix.iloc[1,0]
TP = confusion_matrix.iloc[1,1]
accuracy = (TP + TN) / (TP + TN + FN + FP)
accuracy

np.float64(0.7055084745762712)

Coincide los resultados de la matriz de confusión con el accuracy. Es de 0.77.

### Overfitting

In [122]:
for i in range(1,10):
  #instanciar
  dt_overfit = DecisionTreeClassifier(max_depth=i,min_samples_split=200)
  #entrenar
  dt_overfit.fit(X_train, y_train)
  #evaluar
  accuracy_train = dt_overfit.score(X_train, y_train)
  accuracy_test = dt_overfit.score(X_test, y_test)
  print(f'Profundidad del arbol {i}, acc_train: {round(accuracy_train*100,2)}, accuracy_test: {round(accuracy_test*100,2)}, overfit {round(accuracy_train*100,2) - round(accuracy_test*100,2)}')

Profundidad del arbol 1, acc_train: 78.11, accuracy_test: 79.28, overfit -1.1700000000000017
Profundidad del arbol 2, acc_train: 78.19, accuracy_test: 79.16, overfit -0.9699999999999989
Profundidad del arbol 3, acc_train: 78.35, accuracy_test: 78.06, overfit 0.28999999999999204
Profundidad del arbol 4, acc_train: 79.84, accuracy_test: 79.58, overfit 0.2600000000000051
Profundidad del arbol 5, acc_train: 80.29, accuracy_test: 79.4, overfit 0.8900000000000006
Profundidad del arbol 6, acc_train: 80.71, accuracy_test: 79.71, overfit 1.0
Profundidad del arbol 7, acc_train: 81.0, accuracy_test: 79.71, overfit 1.2900000000000063
Profundidad del arbol 8, acc_train: 81.23, accuracy_test: 79.52, overfit 1.710000000000008
Profundidad del arbol 9, acc_train: 81.28, accuracy_test: 79.52, overfit 1.7600000000000051

Nos quedamos con una profundidad de 4 ya que vemos que el acc_test y el acc_train son los más elevados mientras el overfitting se mantiene con un valor bajo.

## Modelo final

In [123]:
dt_final = DecisionTreeClassifier(max_depth=4,min_samples_split=500)
dt_final.fit(X_train, y_train)

DecisionTreeClassifier(max_depth=4, min_samples_split=500)

### Evaluar en validación

In [124]:
dt_final.score(X_train, y_train)
dt_final.score(X_test, y_test)

0.7817848410757946

Le pasamos los datos de validación para ver como funciona y vemos que el resultado de validación es parecido a train y test.

In [125]:
dt_final.score(val_df_X, val_df_y)

0.7831590533847

## AUC

In [126]:
metrics.roc_auc_score(y_test,dt_final.predict_proba(X_test)[:,1])

np.float64(0.8366795043661629)

Se considera un buen modelo cuando el AUC es mayor a 0,75. En este caso, se acerca a este valor aunque queda algo por debajo. Probaremos a realizar el random forest para mejorarlos.

## ROC Curve

In [127]:
fpr,tpr,th = metrics.roc_curve(y_test,dt_final.predict_proba(X_test)[:,1])
plt.plot(fpr,tpr)
plt.plot([0,1],[0,1], color= 'black', linestyle = '--')
plt.xlabel('FPR')
plt.ylabel('TPR')

NameError: name 'plt' is not defined

Tenemos TPR (Recall, ceros reales) más alta, por encima de la diagonal, y FPR (verdaderos negativos). Como la curva está por encima de la diagonal, quiere decir que el modelo predice con más aciertos (TP) que fallos (FP). También sabemos que el modelo es capaz de discernir con respecto al target, ya que la línea azul (ROC Curve) no se sobrepone a la diagonal negra.

# Modelos alternativos a DecisionTreeClassifier

## Random Forest

In [128]:
from sklearn.ensemble import RandomForestClassifier

In [129]:
rf_basic = RandomForestClassifier(n_estimators = 100, max_depth = 4, random_state = 42)

Entrenamos el modelo

In [130]:
rf_basic.fit(X = X_train, y = np.ravel(y_train))

RandomForestClassifier(max_depth=4, random_state=42)

Evaluamos el modelo. -- model.predict_proba() nos dice el porcentaje de probabilidad de predecir la clase del target

In [131]:
metrics.roc_auc_score(y_test,rf_basic.predict_proba(X_test)[:,1])
rf_basic.estimators_[1]

DecisionTreeClassifier(max_depth=4, max_features='sqrt',
                       random_state=1273642419)

In [132]:
tree_data_rf0 = export_graphviz(
    decision_tree = rf_basic.estimators_[2],
    out_file=None,
    max_depth=8,
    feature_names=X_train.columns,
    class_names=['Contrata', 'No contrata'],
    filled=True,
    impurity=True,
    proportion=True,
    rotate=True,
    rounded=True
)

In [133]:
graphviz.Source(tree_data_rf0)

In [134]:
rf_basic.predict_proba(X_test)[:,1]
pd.Series(rf_basic.feature_importances_, index = X_test.columns).sort_values(ascending = False).head(20)

active_customer               0.366110
entry_channel_KHE             0.133090
age                           0.119462
segment_02 - PARTICULARES     0.065457
entry_channel_KFC             0.065331
entry_channel_KAT             0.052523
segment_03 - UNIVERSITARIO    0.043248
region_code_Madrid            0.035610
entry_channel_KHD             0.026650
salary                        0.015707
region_code_Badajoz           0.010073
entry_channel_KFA             0.006226
region_code_Valladolid        0.005737
gender_V                      0.003940
entry_channel_Others          0.003468
region_code_La Coruña         0.003407
gender_H                      0.003396
region_code_Caceres           0.002787
region_code_Salamanca         0.002385
region_code_Cordoba           0.002303
dtype: float64

Parece ser que la columna active_customer es la mas relevante en cuanto a la predicción del target

In [135]:
rf = RandomForestClassifier(n_estimators=100, max_depth=4, min_samples_split=500, random_state=42)
rf.fit(X_train, np.ravel(y_train))

RandomForestClassifier(max_depth=4, min_samples_split=500, random_state=42)

Lanzamos el modelo sobre el conjunto de test para que haga sus predicciones

In [136]:
y_score = pd.DataFrame(rf.predict_proba(X_test)[:,1], index=y_test.index, columns=['reg_pension_plan_score'])

In [137]:
y_score

      reg_pension_plan_score
5248                0.252190
71                  0.295142
768                 0.253928
2542                0.582581
3793                0.677952
...                      ...
1498                0.530110
4541                0.658354
4274                0.261886
1077                0.548230
5057                0.456944

[1636 rows x 1 columns]

Comparamos las predicciones de y_score con los valores reales de y_test juntandolos en una tabla. En este caso, como hemos hecho un predict proba.

In [138]:
results_df = y_test.join(y_score)

In [139]:
results_df.head()

      reg_pension_plan  reg_pension_plan_score
5248                 0                0.252190
5248                 0                0.641643
71                   0                0.295142
768                  0                0.253928
2542                 0                0.582581

### AUC Score

In [140]:
print(metrics.roc_auc_score(results_df['reg_pension_plan'], results_df['reg_pension_plan_score']))

0.7376991140511818

### ROC Curve

In [141]:
fpr, tpr, _ = metrics.roc_curve(results_df['reg_pension_plan'], results_df['reg_pension_plan_score'])

In [142]:
plt.clf()
plt.plot(fpr, tpr)
plt.plot([0, 1], [0, 1], color='black', linestyle='--')
plt.xlabel('FPR')
plt.ylabel('TPR')
plt.title('ROC curve')
plt.show()

NameError: name 'plt' is not defined

El ROC Curve nos dice que se predicen más TP que FP y que además el modelo es capaz de discernir entre las características para predecir el target.

In [143]:
results_df['reg_pension_plan_score'].nunique()

1250

In [144]:
results_df['Decile'] = pd.qcut(results_df['reg_pension_plan_score'], q=10)

In [145]:
results_df.head(10)

      reg_pension_plan  reg_pension_plan_score          Decile
5248                 0                0.252190  (0.208, 0.253]
5248                 0                0.641643  (0.631, 0.665]
71                   0                0.295142  (0.269, 0.428]
768                  0                0.253928  (0.253, 0.269]
2542                 0                0.582581  (0.514, 0.631]
3793                 1                0.677952   (0.673, 0.68]
487                  0                0.431550  (0.428, 0.462]
2793                 0                0.670176  (0.665, 0.673]
1338                 1                0.504044  (0.462, 0.514]
4983                 0                0.459937  (0.428, 0.462]

In [146]:
results_summary_table = results_df.pivot_table(index='Decile', values='reg_pension_plan', aggfunc=[len, 'sum', 'mean'], observed=False).sort_index(ascending=False)

In [147]:
results_summary_table.columns = ['Cases', 'Responses', 'Accuracy']

In [148]:
results_summary_table

                Cases  Responses  Accuracy
Decile
(0.68, 0.695]     189        140  0.740741
(0.673, 0.68]     185        126  0.681081
(0.665, 0.673]    193        127  0.658031
(0.631, 0.665]    188        135  0.718085
(0.514, 0.631]    189        128  0.677249
(0.462, 0.514]    189        106  0.560847
(0.428, 0.462]    188         77  0.409574
(0.269, 0.428]    188         33  0.175532
(0.253, 0.269]    190         36  0.189474
(0.208, 0.253]    189         37  0.195767

In [149]:
def get_gain_table(model, X_test, y_test):
    y_score = pd.DataFrame(model.predict_proba(X_test)[:,1], index=y_test.index, columns=['Score'])
    results_df = y_test.join(y_score)
    results_df['Decile'] = pd.qcut(results_df['Score'], q=10)
    results_summary_table = results_df.pivot_table(index='Decile', values=y_test.columns, aggfunc=[len, 'sum', 'mean'], observed=False).sort_index(ascending=False)
    results_summary_table.columns = ['Cases', 'Responses', 'Accuracy']
    results_summary_table['Pct. Cases'] = results_summary_table['Cases'] / results_summary_table['Cases'].sum()
    results_summary_table['Pct. Responses'] = results_summary_table['Responses'] / results_summary_table['Responses'].sum()
    results_summary_table['Cum. Cases'] = results_summary_table['Cases'].cumsum()
    results_summary_table['Cum. Responses'] = results_summary_table['Responses'].cumsum()
    results_summary_table['Cum. Pct. Cases'] = results_summary_table['Pct. Cases'].cumsum()
    results_summary_table['Cum. Pct. Responses'] = results_summary_table['Pct. Responses'].cumsum()
    return results_summary_table

In [150]:
rf_results_summary_table = get_gain_table(rf, X_test, y_test)

In [151]:
rf_results_summary_table

,Cases,Responses,Accuracy,Pct. Cases,Pct. Responses,Cum. Cases,Cum. Responses,Cum. Pct. Cases,Cum. Pct. Responses
Decile,,,,,,,,,
"(0.68, 0.695]",189,140,0.740741,0.100106,0.148148,189,140,0.100106,0.148148
"(0.673, 0.68]",185,126,0.681081,0.097987,0.133333,374,266,0.198093,0.281481
"(0.665, 0.673]",193,127,0.658031,0.102225,0.134392,567,393,0.300318,0.415873
"(0.631, 0.665]",188,135,0.718085,0.099576,0.142857,755,528,0.399894,0.558730
"(0.514, 0.631]",189,128,0.677249,0.100106,0.135450,944,656,0.500000,0.694180
"(0.462, 0.514]",189,106,0.560847,0.100106,0.112169,1133,762,0.600106,0.806349
"(0.428, 0.462]",188,77,0.409574,0.099576,0.081481,1321,839,0.699682,0.887831
"(0.269, 0.428]",188,33,0.175532,0.099576,0.034921,1509,872,0.799258,0.922751
"(0.253, 0.269]",190,36,0.189474,0.100636,0.038095,1699,908,0.899894,0.960847
"(0.208, 0.253]",189,37,0.195767,0.100106,0.039153,1888,945,1.000000,1.000000

In [152]:
rf_basic.score(X_train, y_train)

0.7674967234600262

In [153]:
rf_basic.score(X_test, y_test)

0.7713936430317848

In [154]:
rf_basic.score(val_df_X, val_df_y)

0.7721518987341772

Con el DecisionTreeClassifier hemos obtenido un modelo con una validación mediana de 0,77. Que es la misma que para el Random Forest, siendo esta 0,77. En ambos modelo, se comporta de forma similar en el train y test lo que nos indica que no tenemos overfitting y que hemos seleccionado bien la profundidad. Al medir el accuracy con validación vemos que el resultado también es muy parecido a train y test. 
Entendemos que el porcentaje de exito del modelo es bueno para predecir el comportamiento del cliente referente a la compra o no del plan de pensiones.

## Resultados

### Visulaización del dataframe resultante

In [155]:
rf_results_summary_table

,Cases,Responses,Accuracy,Pct. Cases,Pct. Responses,Cum. Cases,Cum. Responses,Cum. Pct. Cases,Cum. Pct. Responses
Decile,,,,,,,,,
"(0.68, 0.695]",189,140,0.740741,0.100106,0.148148,189,140,0.100106,0.148148
"(0.673, 0.68]",185,126,0.681081,0.097987,0.133333,374,266,0.198093,0.281481
"(0.665, 0.673]",193,127,0.658031,0.102225,0.134392,567,393,0.300318,0.415873
"(0.631, 0.665]",188,135,0.718085,0.099576,0.142857,755,528,0.399894,0.558730
"(0.514, 0.631]",189,128,0.677249,0.100106,0.135450,944,656,0.500000,0.694180
"(0.462, 0.514]",189,106,0.560847,0.100106,0.112169,1133,762,0.600106,0.806349
"(0.428, 0.462]",188,77,0.409574,0.099576,0.081481,1321,839,0.699682,0.887831
"(0.269, 0.428]",188,33,0.175532,0.099576,0.034921,1509,872,0.799258,0.922751
"(0.253, 0.269]",190,36,0.189474,0.100636,0.038095,1699,908,0.899894,0.960847
"(0.208, 0.253]",189,37,0.195767,0.100106,0.039153,1888,945,1.000000,1.000000

### Ranking de clientes actuales propensos a compra

Cogemos los clientes de la última particion

In [156]:
df_con_reg_merged

,pk_cid,pk_partition,entry_channel,active_customer,segment,region_code,gender,age,salary,reg_pension_plan
0,1050611,2018-01-01,KHE,0,03 - UNIVERSITARIO,13,V,23,35548.74,0
1,1050612,2018-01-01,KHE,0,03 - UNIVERSITARIO,13,V,23,122179.11,0
2,1050613,2018-01-01,KHD,0,03 - UNIVERSITARIO,50,H,22,119775.54,0
3,1050614,2018-01-01,KHE,1,03 - UNIVERSITARIO,50,V,23,-1.00,0
4,1050615,2018-01-01,KHE,0,03 - UNIVERSITARIO,45,H,23,22220.04,0
...,...,...,...,...,...,...,...,...,...,...
1047514,1018682,2019-05-01,KAT,0,02 - PARTICULARES,28,V,88,35310.57,0
1047515,1018679,2019-05-01,KFA,1,02 - PARTICULARES,28,V,34,61180.11,0
1047516,1018676,2019-05-01,KFA,0,02 - PARTICULARES,28,H,74,63867.48,0
1047517,1018675,2019-05-01,KFC,0,02 - PARTICULARES,29,H,15,-1.00,0
1047518,1018723,2019-05-01,KFC,0,02 - PARTICULARES,43,V,42,-1.00,0

In [157]:
df_ranking=df_merged.loc[df_merged['pk_partition'] =='2019-05']

In [158]:
# Diccionario que mapea los códigos de región a nombres
codigo_a_nombre = {
    1: 'Alava',
    2: 'Albacete',
    3: 'Alicante',
    4: 'Almeria',
    5: 'Avila',
    6: 'Badajoz',
    7: 'Islas Baleares',
    8: 'Barcelona',
    9: 'Burgos',
    10: 'Caceres',
    11: 'Cadiz',
    12: 'Castellon',
    13: 'Ciudad Real',
    14: 'Cordoba',
    15: 'La Coruña',
    16: 'Cuenca',
    17: 'Gerona',
    18: 'Granada',
    19: 'Guadalajara',
    20: 'Guipuzcoa',
    21: 'Huelva',
    22: 'Huesca',
    23: 'Jaen',
    24: 'Leon',
    25: 'Lerida',
    26: 'La Rioja',
    27: 'Lugo',
    28: 'Madrid',
    29: 'Malaga',
    30: 'Murcia',
    31: 'Navarra',
    32: 'Orense',
    33: 'Asturias',
    34: 'Palencia',
    35: 'Las Palmas',
    36: 'Pontevedra',
    37: 'Salamanca',
    38: 'Santa Cruz de Tenerife',
    39: 'Cantabria',
    40: 'Segovia',
    41: 'Sevilla',
    42: 'Soria',
    43: 'Tarragona',
    44: 'Teruel',
    45: 'Toledo',
    46: 'Valencia',
    47: 'Valladolid',
    48: 'Vizcaya',
    49: 'Zamora',
    50: 'Zaragoza',
    51: 'Ceuta',
    52: 'Melilla'
}

# Reemplaza los valores en la columna 'region_code' usando el diccionario
df_ranking['region_code'] = df_ranking['region_code'].replace(codigo_a_nombre)

# Muestra el DataFrame para verificar los cambios
print(df_ranking)

          pk_cid pk_partition entry_channel  active_customer  \
5516831   657826   2019-05-01        Others                1
5516832   657817   2019-05-01   Not defined                0
5516833   657986   2019-05-01        Others                1
5516834   657905   2019-05-01           KAT                1
5516835   657336   2019-05-01           KAT                1
...          ...          ...           ...              ...
5959572  1166765   2019-05-01           KHE                0
5959573  1166764   2019-05-01           KHE                0
5959574  1166763   2019-05-01           KHE                1
5959575  1166789   2019-05-01           KHE                0
5959576  1550586   2019-05-01   Not defined                1

                    segment region_code gender  age     salary
5516831   02 - PARTICULARES      Lerida      H   44   54493.38
5516832         Not defined   Barcelona      V   32      -1.00
5516833   02 - PARTICULARES     Sevilla      H   39  100993.17
5516834            01 - TOP      Madrid      H   85  154059.09
5516835   02 - PARTICULARES      Madrid      V   38      -1.00
...                     ...         ...    ...  ...        ...
5959572  03 - UNIVERSITARIO    Zaragoza      V   22   43912.17
5959573  03 - UNIVERSITARIO    La Rioja      V   23   23334.99
5959574   02 - PARTICULARES    Zaragoza      H   47      -1.00
5959575  03 - UNIVERSITARIO    Zaragoza      H   22  199592.82
5959576         Not defined      Madrid      H   37      -1.00

[442746 rows x 9 columns]

C:\Users\Usuario\AppData\Local\Temp\ipykernel_17324\1570508301.py:58: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_ranking['region_code'] = df_ranking['region_code'].replace(codigo_a_nombre)

In [159]:
df_ranking.set_index('pk_cid', inplace=True)

In [160]:
df_ranking

,pk_partition,entry_channel,active_customer,segment,region_code,gender,age,salary
pk_cid,,,,,,,,
657826,2019-05-01,Others,1,02 - PARTICULARES,Lerida,H,44,54493.38
657817,2019-05-01,Not defined,0,Not defined,Barcelona,V,32,-1.00
657986,2019-05-01,Others,1,02 - PARTICULARES,Sevilla,H,39,100993.17
657905,2019-05-01,KAT,1,01 - TOP,Madrid,H,85,154059.09
657336,2019-05-01,KAT,1,02 - PARTICULARES,Madrid,V,38,-1.00
...,...,...,...,...,...,...,...,...
1166765,2019-05-01,KHE,0,03 - UNIVERSITARIO,Zaragoza,V,22,43912.17
1166764,2019-05-01,KHE,0,03 - UNIVERSITARIO,La Rioja,V,23,23334.99
1166763,2019-05-01,KHE,1,02 - PARTICULARES,Zaragoza,H,47,-1.00
1166789,2019-05-01,KHE,0,03 - UNIVERSITARIO,Zaragoza,H,22,199592.82
1550586,2019-05-01,Not defined,1,Not defined,Madrid,H,37,-1.00

In [161]:
df_ranking.index.name = None

In [162]:
df_ranking

,pk_partition,entry_channel,active_customer,segment,region_code,gender,age,salary
657826,2019-05-01,Others,1,02 - PARTICULARES,Lerida,H,44,54493.38
657817,2019-05-01,Not defined,0,Not defined,Barcelona,V,32,-1.00
657986,2019-05-01,Others,1,02 - PARTICULARES,Sevilla,H,39,100993.17
657905,2019-05-01,KAT,1,01 - TOP,Madrid,H,85,154059.09
657336,2019-05-01,KAT,1,02 - PARTICULARES,Madrid,V,38,-1.00
...,...,...,...,...,...,...,...,...
1166765,2019-05-01,KHE,0,03 - UNIVERSITARIO,Zaragoza,V,22,43912.17
1166764,2019-05-01,KHE,0,03 - UNIVERSITARIO,La Rioja,V,23,23334.99
1166763,2019-05-01,KHE,1,02 - PARTICULARES,Zaragoza,H,47,-1.00
1166789,2019-05-01,KHE,0,03 - UNIVERSITARIO,Zaragoza,H,22,199592.82
1550586,2019-05-01,Not defined,1,Not defined,Madrid,H,37,-1.00

In [163]:
object_columns = [col for col in df_ranking if df_ranking[col].dtype.kind == 'O']

In [164]:
for col in object_columns:
    _dummy_dataset = pd.get_dummies(df_ranking[col], prefix=col)
    df_ranking = pd.concat([df_ranking,_dummy_dataset],axis=1)
    df_ranking.drop([col],axis=1, inplace=True)

In [165]:
df_ranking.info()

<class 'pandas.core.frame.DataFrame'>
Index: 442746 entries, 657826 to 1550586
Data columns (total 74 columns):
 #   Column                              Non-Null Count   Dtype
---  ------                              --------------   -----
 0   pk_partition                        442746 non-null  datetime64[ns]
 1   active_customer                     442746 non-null  int64
 2   age                                 442746 non-null  int64
 3   salary                              442746 non-null  float64
 4   entry_channel_KAT                   442746 non-null  bool
 5   entry_channel_KFA                   442746 non-null  bool
 6   entry_channel_KFC                   442746 non-null  bool
 7   entry_channel_KHD                   442746 non-null  bool
 8   entry_channel_KHE                   442746 non-null  bool
 9   entry_channel_KHK                   442746 non-null  bool
 10  entry_channel_KHM                   442746 non-null  bool
 11  entry_channel_KHN                   442746 non-null  bool
 12  entry_channel_KHQ                   442746 non-null  bool
 13  entry_channel_Not defined           442746 non-null  bool
 14  entry_channel_Others                442746 non-null  bool
 15  entry_channel_RED                   442746 non-null  bool
 16  segment_01 - TOP                    442746 non-null  bool
 17  segment_02 - PARTICULARES           442746 non-null  bool
 18  segment_03 - UNIVERSITARIO          442746 non-null  bool
 19  segment_Not defined                 442746 non-null  bool
 20  region_code_Alava                   442746 non-null  bool
 21  region_code_Albacete                442746 non-null  bool
 22  region_code_Alicante                442746 non-null  bool
 23  region_code_Almeria                 442746 non-null  bool
 24  region_code_Asturias                442746 non-null  bool
 25  region_code_Avila                   442746 non-null  bool
 26  region_code_Badajoz                 442746 non-null  bool
 27  region_code_Barcelona               442746 non-null  bool
 28  region_code_Burgos                  442746 non-null  bool
 29  region_code_Caceres                 442746 non-null  bool
 30  region_code_Cadiz                   442746 non-null  bool
 31  region_code_Cantabria               442746 non-null  bool
 32  region_code_Castellon               442746 non-null  bool
 33  region_code_Ceuta                   442746 non-null  bool
 34  region_code_Ciudad Real             442746 non-null  bool
 35  region_code_Cordoba                 442746 non-null  bool
 36  region_code_Cuenca                  442746 non-null  bool
 37  region_code_Gerona                  442746 non-null  bool
 38  region_code_Granada                 442746 non-null  bool
 39  region_code_Guadalajara             442746 non-null  bool
 40  region_code_Guipuzcoa               442746 non-null  bool
 41  region_code_Huelva                  442746 non-null  bool
 42  region_code_Huesca                  442746 non-null  bool
 43  region_code_Islas Baleares          442746 non-null  bool
 44  region_code_Jaen                    442746 non-null  bool
 45  region_code_La Coruña               442746 non-null  bool
 46  region_code_La Rioja                442746 non-null  bool
 47  region_code_Las Palmas              442746 non-null  bool
 48  region_code_Leon                    442746 non-null  bool
 49  region_code_Lerida                  442746 non-null  bool
 50  region_code_Lugo                    442746 non-null  bool
 51  region_code_Madrid                  442746 non-null  bool
 52  region_code_Malaga                  442746 non-null  bool
 53  region_code_Melilla                 442746 non-null  bool
 54  region_code_Murcia                  442746 non-null  bool
 55  region_code_Navarra                 442746 non-null  bool
 56  region_code_Orense                  442746 non-null  bool
 57  region_code_Palencia                442746 non-null  bool
 58  region_code_Pontevedra              442746 non-null  bool
 59  region_code_Salamanca               442746 non-null  bool
 60  region_code_Santa Cruz de Tenerife  442746 non-null  bool
 61  region_code_Segovia                 442746 non-null  bool
 62  region_code_Sevilla                 442746 non-null  bool
 63  region_code_Soria                   442746 non-null  bool
 64  region_code_Tarragona               442746 non-null  bool
 65  region_code_Teruel                  442746 non-null  bool
 66  region_code_Toledo                  442746 non-null  bool
 67  region_code_Valencia                442746 non-null  bool
 68  region_code_Valladolid              442746 non-null  bool
 69  region_code_Vizcaya                 442746 non-null  bool
 70  region_code_Zamora                  442746 non-null  bool
 71  region_code_Zaragoza                442746 non-null  bool
 72  gender_H                            442746 non-null  bool
 73  gender_V                            442746 non-null  bool
dtypes: bool(70), datetime64[ns](1), float64(1), int64(2)
memory usage: 46.4 MB

In [166]:
bool_columns = [col for col in df_ranking if df_ranking[col].dtype.kind == 'b']

In [167]:
for col in bool_columns:
    if col in df_ranking:
        df_ranking[col]=  df_ranking[col].astype('int32')

In [168]:
df_ranking.drop(columns=['pk_partition'], axis=1, inplace=True)

In [169]:
df_ranking.head()

,active_customer,age,salary,entry_channel_KAT,entry_channel_KFA,entry_channel_KFC,entry_channel_KHD,entry_channel_KHE,entry_channel_KHK,entry_channel_KHM,...,region_code_Tarragona,region_code_Teruel,region_code_Toledo,region_code_Valencia,region_code_Valladolid,region_code_Vizcaya,region_code_Zamora,region_code_Zaragoza,gender_H,gender_V
657826,1,44,54493.38,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
657817,0,32,-1.00,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
657986,1,39,100993.17,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
657905,1,85,154059.09,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
657336,1,38,-1.00,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [170]:
clients_ranking = pd.DataFrame(rf.predict_proba(df_ranking)[:,1], index=df_ranking.index, columns=['reg_pension_plan_score'])

In [171]:
clients_ranking

         reg_pension_plan_score
657826                 0.642589
657817                 0.430439
657986                 0.653920
657905                 0.670299
657336                 0.688100
...                         ...
1166765                0.245447
1166764                0.256641
1166763                0.540130
1166789                0.251099
1550586                0.663401

[442746 rows x 1 columns]

In [172]:
clients_ranking=clients_ranking.sort_values(by='reg_pension_plan_score', ascending=False)

In [173]:
clients_ranking

         reg_pension_plan_score
1192236                0.696924
1114029                0.694843
1021953                0.694843
300309                 0.694189
1311581                0.694189
...                         ...
1187887                0.208986
1187773                0.208986
1206365                0.208986
1275462                0.208986
1315756                0.208986

[442746 rows x 1 columns]

Miramos cuantos clientes superan un rango aceptable de probabilidad de compra que establecemos como 65%.

In [174]:
len(clients_ranking.loc[clients_ranking['reg_pension_plan_score']>0.65])

57920

In [180]:
clients_ranking.mean()

reg_pension_plan_score    0.669144
dtype: float64

In [175]:
clients_ranking=clients_ranking.loc[clients_ranking['reg_pension_plan_score']>0.65]

In [176]:
index_df = clients_ranking.index

In [177]:
df_ranking = pd.DataFrame(index_df)

In [178]:
df_ranking.to_csv('df_ranking.csv', index=False)