In [1]:
# Importamos las librerias necesarias.
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import LabelEncoder,MinMaxScaler, OrdinalEncoder

In [17]:
df_cd = pd.read_csv('/Users/alinaoganesyan/Desktop/Master Data Science/Entregables/Proyecto final/Recursos  Proyecto final-20240502/datasets_TFM + diccionario/customer_sociodemographics.csv', index_col=0)

In [18]:
df_cd.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5962924 entries, 0 to 13647308
Data columns (total 8 columns):
 #   Column        Dtype
---  ------        -----
 0   pk_cid        int64
 1   pk_partition  object
 2   country_id    object
 3   region_code   float64
 4   gender        object
 5   age           int64
 6   deceased      object
 7   salary        float64
dtypes: float64(2), int64(2), object(4)
memory usage: 409.4+ MB

In [19]:
df_cd.isna().sum()

pk_cid                0
pk_partition          0
country_id            0
region_code        2264
gender               25
age                   0
deceased              0
salary          1541104
dtype: int64

In [20]:
#sacamos la partición más alta
df_cd["pk_partition"].max()

'2019-05'

In [21]:
#nos quedamos con la partición más alta
df_cd[df_cd["pk_partition"] == '2019-05']

,pk_cid,pk_partition,country_id,region_code,gender,age,deceased,salary
12715896,657826,2019-05,ES,25.0,H,44,N,54493.38
12715899,657817,2019-05,ES,8.0,V,32,N,NaN
12715982,657986,2019-05,ES,41.0,H,39,N,100993.17
12716026,657905,2019-05,ES,28.0,H,85,N,154059.09
12716082,657336,2019-05,ES,28.0,V,38,N,NaN
...,...,...,...,...,...,...,...,...
13647304,1166765,2019-05,ES,50.0,V,22,N,43912.17
13647305,1166764,2019-05,ES,26.0,V,23,N,23334.99
13647306,1166763,2019-05,ES,50.0,H,47,N,NaN
13647307,1166789,2019-05,ES,50.0,H,22,N,199592.82
13647308,1550586,2019-05,ES,28.0,H,37,N,NaN

In [22]:
#lo guardamos en nuevo df 

df_cd_last_p = df_cd[df_cd["pk_partition"] == '2019-05']

In [23]:
df_cd_last_p.info()

<class 'pandas.core.frame.DataFrame'>
Index: 442995 entries, 12715896 to 13647308
Data columns (total 8 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   pk_cid        442995 non-null  int64
 1   pk_partition  442995 non-null  object
 2   country_id    442995 non-null  object
 3   region_code   442833 non-null  float64
 4   gender        442993 non-null  object
 5   age           442995 non-null  int64
 6   deceased      442995 non-null  object
 7   salary        293468 non-null  float64
dtypes: float64(2), int64(2), object(4)
memory usage: 30.4+ MB

In [24]:
df_cd_last_p.isna().sum()

pk_cid               0
pk_partition         0
country_id           0
region_code        162
gender               2
age                  0
deceased             0
salary          149527
dtype: int64

In [27]:
df_cd_last_p.reset_index(drop = True, inplace = True)

In [28]:
df_cd_last_p.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 442995 entries, 0 to 442994
Data columns (total 8 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   pk_cid        442995 non-null  int64
 1   pk_partition  442995 non-null  object
 2   country_id    442995 non-null  object
 3   region_code   442995 non-null  object
 4   gender        442995 non-null  object
 5   age           442995 non-null  int64
 6   deceased      442995 non-null  object
 7   salary        442995 non-null  object
dtypes: int64(2), object(6)
memory usage: 27.0+ MB

In [25]:
for col in ['region_code', 'gender', 'salary']:
    df_cd_last_p[col].fillna('not informed', inplace = True)

/var/folders/pb/jt3p2kyx2hx__2r9dsl0gsv80000gn/T/ipykernel_22465/3379642225.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_cd_last_p[col].fillna('not informed', inplace = True)
/var/folders/pb/jt3p2kyx2hx__2r9dsl0gsv80000gn/T/ipykernel_22465/3379642225.py:2: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'not informed' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df_cd_last_p[col].fillna('not informed', inplace = True)
/var/folders/pb/jt3p2kyx2hx__2r9dsl0gsv80000gn/T/ipykernel_22465/3379642225.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cd_last_p[col].fillna('not informed', inplace = True)

In [29]:
df_cd_last_p.isna().sum()

pk_cid          0
pk_partition    0
country_id      0
region_code     0
gender          0
age             0
deceased        0
salary          0
dtype: int64