# Revisión tabla customer_products.csv

In [106]:
# Importamos las librerias necesarias.
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import LabelEncoder,MinMaxScaler, OrdinalEncoder

In [107]:
# Creamos dataframe desde fichero .csv
file = 'customer_products.csv'
path = '/Users/orlando/Documents/EasyMoney/tablas/'
df_cust_prod = pd.read_csv(path+file)

In [108]:
df_cust_prod.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5962924 entries, 0 to 5962923
Data columns (total 18 columns):
 #   Column              Dtype
---  ------              -----
 0   Unnamed: 0          int64
 1   pk_cid              int64
 2   pk_partition        object
 3   short_term_deposit  int64
 4   loans               int64
 5   mortgage            int64
 6   funds               int64
 7   securities          int64
 8   long_term_deposit   int64
 9   em_account_pp       int64
 10  credit_card         int64
 11  payroll             float64
 12  pension_plan        float64
 13  payroll_account     int64
 14  emc_account         int64
 15  debit_card          int64
 16  em_account_p        int64
 17  em_acount           int64
dtypes: float64(2), int64(15), object(1)
memory usage: 818.9+ MB

In [109]:
df_cust_prod.head()

,Unnamed: 0,pk_cid,pk_partition,short_term_deposit,loans,mortgage,funds,securities,long_term_deposit,em_account_pp,credit_card,payroll,pension_plan,payroll_account,emc_account,debit_card,em_account_p,em_acount
0,0,1375586,2018-01,0,0,0,0,0,0,0,0,0.0,0.0,0,0,0,0,1
1,1,1050611,2018-01,0,0,0,0,0,0,0,0,0.0,0.0,0,0,0,0,1
2,2,1050612,2018-01,0,0,0,0,0,0,0,0,0.0,0.0,0,0,0,0,1
3,3,1050613,2018-01,1,0,0,0,0,0,0,0,0.0,0.0,0,0,0,0,0
4,4,1050614,2018-01,0,0,0,0,0,0,0,0,0.0,0.0,0,0,0,0,1

In [110]:
# Eliminamos la columna 'Unnamed: 0' por ser igual que el index.
df_cust_prod.drop(columns=['Unnamed: 0'], inplace=True, errors='ignore')

In [111]:
# No hay duplicados.
df_cust_prod[df_cust_prod.duplicated(keep=False)]

Empty DataFrame
Columns: [pk_cid, pk_partition, short_term_deposit, loans, mortgage, funds, securities, long_term_deposit, em_account_pp, credit_card, payroll, pension_plan, payroll_account, emc_account, debit_card, em_account_p, em_acount]
Index: []

In [112]:
# Revisamos porcentaje de valores nulos y encontramos algunos en las columnas 'payroll' y 'pension_plan'.
df_cust_prod.isna().sum()/len(df_cust_prod) * 100

pk_cid                0.000000
pk_partition          0.000000
short_term_deposit    0.000000
loans                 0.000000
mortgage              0.000000
funds                 0.000000
securities            0.000000
long_term_deposit     0.000000
em_account_pp         0.000000
credit_card           0.000000
payroll               0.001023
pension_plan          0.001023
payroll_account       0.000000
emc_account           0.000000
debit_card            0.000000
em_account_p          0.000000
em_acount             0.000000
dtype: float64

In [113]:
# Como los valores nulos corresponden a un porcentaje tan pequeño del total, podrímos optar por eliminarlos directamente.
df_cust_prod = df_cust_prod.dropna()

In [114]:
# Restablecemos los índices del dataframe tras haber eliminado filas.
df_cust_prod.reset_index(drop=True, inplace=True)

In [115]:
# Dejaremos los datos del tipo int a excepción de la columna 'pk_partition' que podríamos considerar quitarla si su información no resulta relevante.
# df_cust_prod = df_cust_prod.drop('pk_partition', axis=1)
# df_cust_prod = df_cust_prod.astype(int)

obj_col = 'pk_partition'
int_col = df_cust_prod.columns[df_cust_prod.columns != obj_col]
df_cust_prod[int_col] = df_cust_prod[int_col].astype(int)

In [116]:
df_cust_prod_clean = df_cust_prod.copy()

In [117]:
df_cust_prod_clean.describe()

,pk_cid,short_term_deposit,loans,mortgage,funds,securities,long_term_deposit,em_account_pp,credit_card,payroll,pension_plan,payroll_account,emc_account,debit_card,em_account_p,em_acount
count,5.962863e+06,5.962863e+06,5.962863e+06,5.962863e+06,5.962863e+06,5.962863e+06,5.962863e+06,5962863.0,5.962863e+06,5.962863e+06,5.962863e+06,5.962863e+06,5.962863e+06,5.962863e+06,5.962863e+06,5.962863e+06
mean,1.234930e+06,2.581646e-03,7.848579e-05,5.433631e-05,3.370696e-03,3.711808e-03,1.688115e-02,0.0,1.188456e-02,3.451144e-02,3.652641e-02,5.524527e-02,5.483289e-02,9.441203e-02,5.701959e-06,7.348150e-01
std,1.623026e+05,5.074427e-02,8.858874e-03,7.371117e-03,5.795977e-02,6.081144e-02,1.288262e-01,0.0,1.083666e-01,1.825388e-01,1.875960e-01,2.284584e-01,2.276538e-01,2.924011e-01,2.387871e-03,4.414317e-01
min,1.589100e+04,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.0,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,1.112532e+06,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.0,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
50%,1.231096e+06,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.0,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00
75%,1.352339e+06,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.0,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00
max,1.553689e+06,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,0.0,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00

In [118]:
# Observamos una fuerte correlación entre las variables 'payroll' y 'pension_plan', y éstas a su vez con 'payroll_account'.
# Lo que nos indica una alta tendencia a domiciliar los planes de pensiones.
df_num = df_cust_prod_clean.select_dtypes(include='number')
corr = df_num.corr()
corr.style.background_gradient(cmap='coolwarm')

/Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages/pandas/io/formats/style.py:3807: RuntimeWarning: All-NaN slice encountered
  smin = np.nanmin(gmap) if vmin is None else vmin
/Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages/pandas/io/formats/style.py:3808: RuntimeWarning: All-NaN slice encountered
  smax = np.nanmax(gmap) if vmax is None else vmax