In [2]:
import pandas as pd 
import numpy as np
activity = pd.read_csv(r'C:\Users\Usuario\Desktop\DataScience\Material didáctico\TFM\datasets_TFM + diccionario\customer_commercial_activity.csv', index_col = 0)

In [3]:
activity

,pk_cid,pk_partition,entry_date,entry_channel,active_customer,segment
0,1375586,2018-01,2018-01,KHL,1.0,02 - PARTICULARES
1,1050611,2018-01,2015-08,KHE,0.0,03 - UNIVERSITARIO
2,1050612,2018-01,2015-08,KHE,0.0,03 - UNIVERSITARIO
3,1050613,2018-01,2015-08,KHD,0.0,03 - UNIVERSITARIO
4,1050614,2018-01,2015-08,KHE,1.0,03 - UNIVERSITARIO
...,...,...,...,...,...,...
13647304,1166765,2019-05,2016-08,KHE,0.0,03 - UNIVERSITARIO
13647305,1166764,2019-05,2016-08,KHE,0.0,03 - UNIVERSITARIO
13647306,1166763,2019-05,2016-08,KHE,1.0,02 - PARTICULARES
13647307,1166789,2019-05,2016-08,KHE,0.0,03 - UNIVERSITARIO
13647308,1550586,2019-05,2019-05,NaN,1.0,NaN

### ESTADÍSTICA DESCRIPTIVA

In [4]:
activity.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5962924 entries, 0 to 13647308
Data columns (total 6 columns):
 #   Column           Dtype
---  ------           -----
 0   pk_cid           int64
 1   pk_partition     object
 2   entry_date       object
 3   entry_channel    object
 4   active_customer  float64
 5   segment          object
dtypes: float64(1), int64(1), object(4)
memory usage: 318.5+ MB

In [5]:
activity.describe()

             pk_cid  active_customer
count  5.962924e+06     5.962924e+06
mean   1.234930e+06     4.033845e-01
std    1.623020e+05     4.905767e-01
min    1.589100e+04     0.000000e+00
25%    1.112532e+06     0.000000e+00
50%    1.231097e+06     0.000000e+00
75%    1.352339e+06     1.000000e+00
max    1.553689e+06     1.000000e+00

### MIRAMOS QUE VALORES HAY NULOS Y DUPLICADOS EN EL DATASET

In [6]:
activity['pk_cid'].isnull().sum()

0

In [7]:
activity['pk_cid'].value_counts().sum()

5962924

In [8]:
activity['pk_cid'].value_counts()

pk_cid
1375586    17
1328781    17
1328783    17
1328784    17
1328786    17
           ..
1521045     1
1545224     1
1470941     1
1521049     1
1550586     1
Name: count, Length: 456373, dtype: int64

In [9]:
activity[activity['pk_cid'].duplicated()]

,pk_cid,pk_partition,entry_date,entry_channel,active_customer,segment
625526,545019,2018-02,2015-02,KAT,1.0,02 - PARTICULARES
625546,545354,2018-02,2018-01,KFA,1.0,02 - PARTICULARES
625665,544616,2018-02,2015-02,KFA,1.0,02 - PARTICULARES
625904,546332,2018-02,2017-05,KAT,0.0,02 - PARTICULARES
626397,544296,2018-02,2017-08,KAT,1.0,02 - PARTICULARES
...,...,...,...,...,...,...
13647303,1166766,2019-05,2016-08,KHE,0.0,03 - UNIVERSITARIO
13647304,1166765,2019-05,2016-08,KHE,0.0,03 - UNIVERSITARIO
13647305,1166764,2019-05,2016-08,KHE,0.0,03 - UNIVERSITARIO
13647306,1166763,2019-05,2016-08,KHE,1.0,02 - PARTICULARES
13647307,1166789,2019-05,2016-08,KHE,0.0,03 - UNIVERSITARIO

In [10]:
activity['pk_partition'].unique()

array(['2018-01', '2018-02', '2018-03', '2018-04', '2018-05', '2018-06',
       '2018-07', '2018-08', '2018-09', '2018-10', '2018-11', '2018-12',
       '2019-01', '2019-02', '2019-03', '2019-04', '2019-05'],
      dtype=object)

In [11]:
activity['entry_date'].unique()

array(['2018-01', '2015-08', '2015-10', '2017-07', '2017-10', '2015-12',
       '2015-09', '2017-09', '2016-01', '2017-08', '2016-03', '2016-07',
       '2016-04', '2017-12', '2016-02', '2017-01', '2016-12', '2015-11',
       '2016-05', '2017-03', '2016-11', '2016-10', '2017-11', '2017-06',
       '2017-04', '2017-02', '2016-06', '2015-07', '2016-09', '2017-05',
       '2015-05', '2015-06', '2015-04', '2016-08', '2015-01', '2015-03',
       '2015-02', '2018-02', '2018-03', '2018-04', '2018-05', '2018-06',
       '2018-07', '2018-08', '2018-09', '2018-10', '2018-11', '2018-12',
       '2019-01', '2019-02', '2019-03', '2019-04', '2019-05'],
      dtype=object)

In [12]:
activity['entry_date'].value_counts()

entry_date
2016-10    382473
2017-10    340613
2015-10    310295
2017-09    294752
2017-07    267173
2016-08    252704
2015-08    221984
2015-07    220941
2017-11    217751
2015-09    217174
2018-10    216947
2015-11    210687
2016-09    206107
2018-09    202262
2016-07    189225
2016-11    188601
2018-07    178215
2017-08    162534
2018-08    138420
2017-12    123456
2018-11    103073
2016-12     89423
2015-12     82347
2017-01     65539
2018-02     61283
2018-01     59721
2017-06     54925
2018-03     51022
2016-01     50830
2017-02     50561
2017-03     50268
2017-05     50165
2017-04     47729
2018-04     43480
2018-12     41244
2018-05     40563
2015-05     40001
2016-04     35682
2018-06     35590
2015-03     35322
2015-04     34706
2016-05     33234
2015-06     33062
2019-01     32640
2015-02     30626
2016-06     30095
2015-01     29646
2016-02     29552
2016-03     27329
2019-02     23533
2019-03     14434
2019-04      8602
2019-05      4383
Name: count, dtype: int64

In [13]:
activity['entry_channel'].value_counts()

entry_channel
KHE    3113947
KFC     890620
KHQ     590280
KAT     416084
KHK     230197
        ...
KEJ          8
KHS          5
KDA          2
KFP          2
KDS          1
Name: count, Length: 68, dtype: int64

In [14]:
activity['entry_channel'].unique()

array(['KHL', 'KHE', 'KHD', 'KFA', 'KFC', 'KAT', 'KAZ', 'RED', 'KHC',
       'KHK', 'KGN', 'KHM', 'KHO', 'KDH', 'KEH', 'KAD', 'KBG', nan, 'KGC',
       'KHF', 'KFK', 'KHN', 'KAB', 'KAG', 'KAA', 'KGX', 'KAR', 'KAK',
       'KBZ', '007', 'KBO', 'KCB', '013', 'KAY', 'KBE', 'KAS', 'KCL',
       '004', 'KAF', 'KCC', 'KEY', 'KDT', 'KAQ', 'KAH', 'KAM', 'KAJ',
       'KFD', 'KCH', 'KFS', 'KAW', 'KAE', 'KBH', 'KDR', 'KHQ', 'KBW',
       'KBY', 'KCI', 'KEJ', 'KFF', 'KBU', 'KAI', 'KCK', 'KDA', 'KES',
       'KHP', 'KFL', 'KDS', 'KFP', 'KHS'], dtype=object)

In [15]:
activity['segment'].unique()

array(['02 - PARTICULARES', '03 - UNIVERSITARIO', '01 - TOP', nan],
      dtype=object)

In [16]:
activity['segment'].value_counts()

segment
03 - UNIVERSITARIO    3900166
02 - PARTICULARES     1830875
01 - TOP                97939
Name: count, dtype: int64

In [17]:
activity['entry_date'].isnull().sum()

0

In [18]:
activity['entry_channel'].isnull().sum()

133033

In [19]:
activity['active_customer'].isnull().sum()

0

In [20]:
activity['segment'].isnull().sum()

133944

In [21]:
activity[activity['segment'].isnull()]

,pk_cid,pk_partition,entry_date,entry_channel,active_customer,segment
18765,1060507,2018-01,2015-10,KFC,0.0,NaN
30944,1035728,2018-01,2015-07,NaN,0.0,NaN
34117,1040205,2018-01,2015-08,NaN,1.0,NaN
52966,1125388,2018-01,2016-03,RED,0.0,NaN
57893,1115187,2018-01,2015-12,NaN,1.0,NaN
...,...,...,...,...,...,...
13632377,1185013,2019-05,2019-05,NaN,1.0,NaN
13641337,1168909,2019-05,2016-08,NaN,1.0,NaN
13642462,1173729,2019-05,2016-09,NaN,1.0,NaN
13645025,1164094,2019-05,2019-05,KFC,1.0,NaN
13647308,1550586,2019-05,2019-05,NaN,1.0,NaN

In [22]:
activity[(activity['segment'].isnull()) & (activity['entry_channel'].isnull())]

,pk_cid,pk_partition,entry_date,entry_channel,active_customer,segment
30944,1035728,2018-01,2015-07,NaN,0.0,NaN
34117,1040205,2018-01,2015-08,NaN,1.0,NaN
57893,1115187,2018-01,2015-12,NaN,1.0,NaN
75194,1083617,2018-01,2015-10,NaN,1.0,NaN
180592,1269364,2018-01,2017-07,NaN,0.0,NaN
...,...,...,...,...,...,...
13632312,1185110,2019-05,2016-09,NaN,0.0,NaN
13632377,1185013,2019-05,2019-05,NaN,1.0,NaN
13641337,1168909,2019-05,2016-08,NaN,1.0,NaN
13642462,1173729,2019-05,2016-09,NaN,1.0,NaN
13647308,1550586,2019-05,2019-05,NaN,1.0,NaN

## Transformamos datos y rellenamos NaN

### Transformación de pk_partition a datetime

In [23]:
activity["pk_partition"] = pd.to_datetime(activity["pk_partition"])
activity["entry_date"] = pd.to_datetime(activity["entry_date"])

In [24]:
activity.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5962924 entries, 0 to 13647308
Data columns (total 6 columns):
 #   Column           Dtype
---  ------           -----
 0   pk_cid           int64
 1   pk_partition     datetime64[ns]
 2   entry_date       datetime64[ns]
 3   entry_channel    object
 4   active_customer  float64
 5   segment          object
dtypes: datetime64[ns](2), float64(1), int64(1), object(2)
memory usage: 318.5+ MB

 ### Trasformación de active_customer float a int

In [25]:
activity["active_customer"] = activity["active_customer"].astype(int)

### Rellenamos NaN de channel y segment con un valor identificativo como 'No identificado'

In [26]:
activity["entry_channel"].fillna('Not defined', inplace=True)
activity["segment"].fillna('Not defined', inplace=True)

C:\Users\Usuario\AppData\Local\Temp\ipykernel_16496\3528881096.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  activity["entry_channel"].fillna('Not defined', inplace=True)
C:\Users\Usuario\AppData\Local\Temp\ipykernel_16496\3528881096.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  activity["segment"].fillna('Not defined', inplace=True)

In [29]:
activity['entry_channel'].isnull().sum()

0